.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ivu-modal {
    top: 0;
}

.treeInline {
    float: left;
    min-width: 150px;
}

.treeInline li {
    margin: 0px !important;
}

.artificial-title {
    width: 200px;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
}
