.text-overflow{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
#app .sys_bone-main {
    padding: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.sys_bone-cross {
    position: fixed;
    writing-mode: vertical-lr;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 2;
}

.sys_bone-cross>* {
    display: inline-block !important;
    writing-mode: horizontal-tb;
    text-align: initial;
    vertical-align: top;
}

.sys_bone-table {
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 3;
}

.sys_cross-details {
    max-width: 700px;
    right: 0;
    top:60px;
    height: 86%;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*阈值报警*/

@keyframes dida {
    from {
        background-color: rgba(0, 0, 0, 0)
    }

    to {
        background-color: rgba(247, 4, 4, 0.9)
    }
}

.didadida {
    position: fixed;
    height: 100%;
    width: 100%;
    animation: dida .8s infinite;
    z-index: 8;
    visibility: hidden;
}

/* 详情统计弹窗 */

.table_details-size{
    height: 70%;
    width: 70%;
}
 .table_details-title{
    position: relative;
    padding-left: 20px;
    line-height: 40px;
    background-color: #2878ff
 }
 .table_details-close{
    position: absolute;
    top: 6px;
    right: 12px;
}
.table_details-warp{
    width: 100%;
    padding:16px 0px;
}
.table_details-warp .el-input{
    width: 100px;
    margin-right: 5px;
}
.table_details-warp .el-button{
    width: 65px;
}
.table_details-warp .el-button:first-of-type{
    margin-left: 10px;
}
.table_details-warp-a{
    height: 100%;
    width: 100%;
    overflow-y: scroll
}
.table_details-pagination{
    margin-top: 1.5%;
    height: 10%;
    text-align:center;
}
.el-card__body{
	height: 100%;
}

.warp{
    height: 88.5%;
    width: 100%;
    overflow-y: scroll
}
.pagination{
    margin-top: 1.5%;
    height: 10%;
    text-align:center;
}



/* 详情统计穿行栏 */
.sys_cross-total {
    left: 6%;
    bottom: 0px;
    height: 210px;
    max-width: 300px;
}
.sys_cross-total .el-card__body {
    padding: 6px 20px;
}

.sys_cross-total .el-card {
    width: 100%;
    border-radius: 0px;
}

.sys_cross-total li {
    float: left;
    max-width: 100%;
}

@keyframes alarm__halo{
    0%{--seed:0}1%{--seed:1}2%{--seed:2}3%{--seed:3}4%{--seed:4}5%{--seed:5}6%{--seed:6}7%{--seed:7}8%{--seed:8}9%{--seed:9}10%{--seed:10}11%{--seed:11}12%{--seed:12}13%{--seed:13}14%{--seed:14}15%{--seed:15}16%{--seed:16}17%{--seed:17}18%{--seed:18}19%{--seed:19}20%{--seed:20}21%{--seed:21}22%{--seed:22}23%{--seed:23}24%{--seed:24}25%{--seed:25}26%{--seed:26}27%{--seed:27}28%{--seed:28}29%{--seed:29}30%{--seed:30}31%{--seed:31}32%{--seed:32}33%{--seed:33}34%{--seed:34}35%{--seed:35}36%{--seed:36}37%{--seed:37}38%{--seed:38}39%{--seed:39}40%{--seed:40}41%{--seed:41}42%{--seed:42}43%{--seed:43}44%{--seed:44}45%{--seed:45}46%{--seed:46}47%{--seed:47}48%{--seed:48}49%{--seed:49}50%{--seed:50}51%{--seed:51}52%{--seed:52}53%{--seed:53}54%{--seed:54}55%{--seed:55}56%{--seed:56}57%{--seed:57}58%{--seed:58}59%{--seed:59}60%{--seed:60}61%{--seed:61}62%{--seed:62}63%{--seed:63}64%{--seed:64}65%{--seed:65}66%{--seed:66}67%{--seed:67}68%{--seed:68}69%{--seed:69}70%{--seed:70}71%{--seed:71}72%{--seed:72}73%{--seed:73}74%{--seed:74}75%{--seed:75}76%{--seed:76}77%{--seed:77}78%{--seed:78}79%{--seed:79}80%{--seed:80}81%{--seed:81}82%{--seed:82}83%{--seed:83}84%{--seed:84}85%{--seed:85}86%{--seed:86}87%{--seed:87}88%{--seed:88}89%{--seed:89}90%{--seed:90}91%{--seed:91}92%{--seed:92}93%{--seed:93}94%{--seed:94}95%{--seed:95}96%{--seed:96}97%{--seed:97}98%{--seed:98}99%{--seed:99}100%{--seed:100}
}
.d7239e04{
    height: 60px;
    width: 60px;
    background-image: radial-gradient(circle closest-side,rgba(255,7,7,0.5) calc(2% * var(--seed)), transparent calc(2% * var(--seed)));
    background-size: 60px 60px;
    border-radius: 30px;
    animation: alarm__halo 1s linear infinite;
    text-align: center;
}
.d7239e04 img{
    display: inline-block;
    height: 24px !important;
    width: 24px !important;
    transform: translateY(18px)
}

/* 详情统计穿行栏 */
/* 研判 */
.sys_cross-judge {    
    left: calc(50% - 240px);
    height: auto;
    width: 480px;
    bottom: 0;
}
.sys_cross-judge .el-card__body {
    padding: 0px 20px 6px 20px;
}

.sys_cross-judge .el-card {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(255,255,255, 0.5);
}
.sys_cross-judge ul {
    text-align: center;
    color:#000;
    font-size: 14px;
}

.sys_cross-judge li {    
    display: inline-block;
    width: 108px;
    line-height: 30px;
    padding: 0 4px;
}
/* 研判 */
.sys_cross-custom {    
    left: calc(50% - 400px);
    height: auto;
    width: 800px;
    bottom: 0;
}
.sys_cross-custom .el-card__body {
    padding: 0px 20px 6px 20px;
}

.sys_cross-custom .el-card {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(255,255,255, 0.5);
}
.sys_cross-custom ul {
    text-align: center;
    color:#fff;
    font-size: 14px;
}

.sys_cross-custom li {    
    display: inline-block;
    line-height: 30px;
    padding: 0 4px;
    color: #000
}

.sys_bone-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sys_bone-menu {
    position: fixed;
    top: 100px;
    left: 0px;
    height: calc(100% - 100px);
    min-height: 600px;
    background: rgba(255,255,255, 0.75);
    box-shadow: 2px 0px 4px 0px rgba(238,238,238, 0.75);
    border-radius: 3px;
    overflow: auto;
}
.el-aside, .el-main{
    overflow: visible!important;
}

.sys_bone-menu-bottom {
    position: absolute;
    bottom: 0;
}

.sys_monitor-warp {
    padding-top: 1%;
    height: 99%;
    width: 100%;
}

.e-popover {
    display: block;
    padding: 10px;
    margin-top: 14px;
    height: 60px;
    width: 74px;
    text-align: center;
}

.e-popover:hover {
    background: #fff
}

.e-popover-platform {
    display: block;
    margin-top: 14px;
    height: 60px;
    line-height: 60px;
    width: 74px;
    text-align: center;
}

.e-popover-setting {
    line-height: 60px;
}


/*
 *通用表格样式
 *编辑人：刘山山
 *创建于：2019/4/4
 */

.table_common-size {
    height: auto;
    width: 526px;
}

.table_common-size .el-card__body {
    padding: 20px;
    height: 90%;
}

.table_common-title {
    position: relative;
    padding-left: 20px;
    line-height: 40px;
    background-color: #2878ff
}

.table_common-size{
    height: auto;
    width: 526px;
}
.table_common-size .el-card__body{
    padding: 20px;
    height: 90%;
}
.table_common-title{
    position: relative;
    padding-left: 20px;
    line-height: 44px;
    background-color: #2878ff
}
.table_common-close{
    position: absolute;
    top: 6px;
    right: 14px;
}
.table_common-list{
    width: 100%;
    height: 100%;
    overflow-y:scroll;
}
.table_common-list li,.table-list__title,.table-list__content{
    box-sizing: border-box;
    float: left;
    height: 40px;
    line-height: 40px;
}

.vjs-big-play-button{
    margin-top: calc(20%);
    margin-left: calc(50%);
}
.table_common-list>span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.common-text__overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.table_common-list li{
    width: 50%;
    border-top: none;
    font-size: 14px;
}
.table_common-list li:nth-of-type(1),.table_common-list li:nth-of-type(2){
    border-top: 1px solid gray;
}
.table_common-list li:nth-of-type(even){
    border-left: none;
}
.table_common-list .table-list__title{
    width: 30%;
    font-weight: 600;
    text-align: center;
}
.table_common-list .table-list__content{
    width: 70%;
    border-left: 0px;
    text-align: left;
    text-indent:6px;
    border-left: 1px solid gray;
}
.total_common-click{
    text-decoration: underline;
    color: #2878ff;
    cursor: pointer;
}
.total_common-details{
    display: flex;
    align-items: baseline;
    font-size: 14px;
    flex-wrap: wrap;
}
.total_common-item{
    position: relative;
    line-height: 30px;
    width: auto;
    padding: 0 6px;
}
.total_common-item img{
    vertical-align: top;
    max-height: 100%;
}
.total_common-title{
    position: relative;
    height: 40px;
    line-height: 40px;
}
.total_common-title>span{
    float:left;
}
.total_common-close{
    position: absolute;
    top: 14px;
    right: 8px;
    color: red;
    cursor: pointer;
}
.total_common-name{
    max-width: 60%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.total_common-click{
    max-width: 36%;
}
.total_common-unit{
    max-width: 14%;
}
.total_common-icon{
    position: relative;
    width: 28px;
    height: 100%;
    max-width: 26%;
    text-align: center
}
.total_common-radius{
    border-radius: 0;
}
/*
 *首页头部样式
 *编辑人：刘山山
 *创建于：2019/4/4
 */
.sys_bone-header {
    position: absolute;
    height: 65px;
    width: 100%;
    background-color: transparent;
    z-index: 66;
}

.sys_bone-header-warp {
    height: 65px;
    line-height: 65px;
}

.sys_bone-header-title {
    display: inline-block;
    vertical-align: middle;
    height: 65px;
    line-height: 65px;
    font-family: 'MicrosoftYaHei-Bold';
    color: #474747;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 24px;
}

.sys_platform-warp {
    position: relative;
    display: inline-block;
}

.sys_platform-ding {
    position: absolute;
    left: 415px;
    top: 18px;
    height: 40px;
    width: 40px;
    overflow: hidden;
}


/*
 *组件库：这个系统最开始就是全局环境下编写，没有工具生成局域样式,采用BEM写法
 *编辑人：刘山山
 *创建于：2019/4/4
 */
.form_yjcz-size {
    height: 70%;
    width: 70%;
}

.form_yjcz-title {
    position: relative;
    padding-left: 20px;
    line-height: 40px;
    background-color: #2878ff
}

.form_yjcz-close {
    position: absolute;
    top: 6px;
    right: 12px;
}

.form_yjcz-warp {
    width: 100%;
    padding: 16px 0px;
}

.form_yjcz-warp .el-input {
    width: 100px;
    margin-right: 5px;
}

.form_yjcz-warp .el-button {
    width: 65px;
}

.form_yjcz-warp .el-button:first-of-type {
    margin-left: 10px;
}

.form_yjcz-warp-a {
    height: 88.5%;
    width: 100%;
    overflow-y: scroll
}

.form_yjcz-pagination {
    margin-top: 1.5%;
    height: 10%;
    text-align: center;
}

/*
 *通用库：重复出现的样式
 */
.cfff{
    color: #fff;
}
.c000{
    color: #000;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.b000{
	border:1px solid #000;
}
.b128{
	border:1px solid rgb(128, 128, 128);
}

/* 防灾隐患点-地质灾害 */
.fxyhd-dzzhd .fxyhd-dzzhd__title{
    position: relative;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 18px;
    text-indent: 20px;
    background-image: linear-gradient(160deg, rgb(0, 97, 230) 20%, rgb(21, 87, 198) 80%);
}
.fxyhd-dzzhd .el-table th{
    background-color: #F2F2F2;
}
.fxyhd-dzzhd .el-checkbox-group{
    overflow: hidden;
}
.fxyhd-dzzhd .el-checkbox{
    float: left;
    width: 50%;
    margin-right: 0px;
    margin-left: 0px !important;
    color:#999999;
}
.fxyhd-dzzhd__close{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 20px;
}
.fxyhd-dzzhd .fxyhd-dzzhd__policy{
    overflow: hidden;
}
.fxyhd-dzzhd .fxyhd-dzzhd__policy span{
    float: left;
    width: 50%;
    margin-right: 0px;
    margin-left: 0px !important;
    color:#999999;
}
.fxyhd-dzzhd .fxyhd-dzzhd__item{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    color:#666666;
}
.fxyhd-dzzhd__item:first-child{
    margin-top: 0px;
}
.fxyhd-dzzhd{
    width: 400px;
    border:none;
    border-radius:10px  10px   3px  3px;
    overflow: hidden;
}
.fxyhd-dzzhd p{
    color:#999999;
    font-size: 14px;
}
.fxyhd-dzzhd .el-card__header{
    padding: 0;
}
.alarm__button{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.alarm__button .el-button{
    padding:0;
    width:120px;
    height:32px;
    background:rgba(29,101,216,1);
    border-radius:3px;
}


/* 库结束 */
.menuIMg{
    cursor: pointer;
}

/*新修改菜单样式*/
.menuItemActive{
    color:white;
    background: linear-gradient(160deg, #0061e6 20%,#1557c6 80%);
    opacity:0.8;
}
.menuItemFull{
    height:84px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menuItemFull:hover{
    color:white;
    background: linear-gradient(160deg, #0061e6 20%,#1557c6 80%);
    opacity:0.8;
}
.disableMenu{
    background-color: #d9d9d9;
    cursor:not-allowed;
}

.datePaker .el-date-editor .el-range-separator{
    line-height:22px!important;
}
.datePaker .el-date-editor .el-range__icon{
    line-height: 0px!important;
}
.areaformtf{
    position: relative; 
    width: 460px;
    background: white;
    box-shadow: 1px 1px 3px #eee;
    top: 40px;
    left: 76px;
    opacity: 0.8;
}
.leidaBody{
    width: calc(100% - 300px);
    height: calc(100% - 140px);
    background: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 100px;
    left: 150px; 
}
.leidaTop{
    height: 56px;
    width: calc(100% - 0px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(160deg, rgb(0, 97, 230) 20%, rgb(21, 87, 198) 80%);
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leidaTopLable{
    font-size: 18px;
    color:white;
    margin-left: 20px 
}
.leidaTopClose{
    cursor: pointer;margin-right: 20px;
   
}
.leidaTopClose i{
    font-size: 20px;color:white; 
}
.timeFatherTrag{
    height: calc(100% - 56px);
    width:100%; 
    position: relative; 
    border:1px solid #d9d9d9;
    background-color: rgba(238,238,238, 0.75);
}
.timesfather{
    position: relative;
}
.shandianTimeFather{
    position: relative;
}
.fireTimeFather{
    position: relative;
}
.earlyWarnTimeFather{
    position: relative;
}
.waterTimeFather{
    position: relative;
}
.timeTrag{
    border-radius:10px;
    display:flex; 
    align-items: center;
    justify-content:center;
    box-shadow:  1px 1px 3px #ddd;
    position: absolute;
    height:100px;
    width:600px;
    background: white;
    right: 2px;
    top:2px;
    z-index: 1000; 
}
.timeTrag1{
    border-radius:10px;
    display:flex; 
    align-items: center;
    justify-content:center;
    box-shadow:  1px 1px 3px #ddd;
    position: absolute;
    height:100px;
    width:400px;
    background: white;
    right: 2px;
    top:2px;
    z-index: 1000; 
}


.timeTrag2{
    border-radius:10px;
    display:flex; 
    align-items: center;
    justify-content:center;
    box-shadow:  1px 1px 3px #ddd;
    position: absolute;
    height:100px;
    width:600px;
    background: white;
    right: 2px;
    top:2px;
    z-index: 1000; 
}
.tabmenu{
    width: 14.8%;
    height: 100%;
}
.tabmenu .el-menu-item.is-active{
    color:rgb(79,68,112)!important;
    background: #cee8ff!important;
    /* background: linear-gradient(160deg, rgb(0, 97, 230) 20%, rgb(21, 87, 198) 80%); */
}
.tabmenu .el-menu-item:hover{
    color:white!important;
    background-color:#4997ee!important;
}

.dialogxq .el-dialog__header{
    border-bottom: 1px solid #d9d9d9;
}
.release_legend{
    width: 120px;
    left: 6%;
    position: absolute;
    bottom: 20px;
    background-color: white
}
.release_legend .el-card__body{
    background: rgba(255,255,255, 0.5)
}
.release_legend span{
    display: inline-block;
    margin: 10px 10px;
    height: 20px;
    line-height: 20px;
}
.release_legend span:nth-child(odd){
    margin: 10px 10px;
    width: 60px
}
.release_legend span:nth-child(even){
    width: 30px;
    text-align: center
}
.tuli{
    width: 330px;
    right: 6%;
    position: absolute;
    bottom: 20px;
}
.tuli .el-card{
    background-color: rgba(255,255,255, 0.5)
}
.tuli .el-card__body{
    padding-top: 1px;
}
.tulihead{
    height: 60px;
    font-size: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.tuli_warp{
    width: 430px;
    overflow: hidden;
}
.tuli_warp li:nth-child(1){
    float: left;
    height: 30px;
    width: 29%;
}
.tuli_warp li{
    float: left;
    width: 28%;
}
.cboxgroup .issue-orienteering-crowd-style .ivu-checkbox-wrapper{
    width:145px!important;
}
.boxCss .el-dialog__header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(160deg, rgb(0, 97, 230) 20%, rgb(21, 87, 198) 80%);
}
.boxCss .el-dialog__headerbtn .el-dialog__close{
    color:white;

}
.boxCss .el-dialog__title{
    color: white;
}

.showWEIZHI{
    bottom: 210px!important;
}
