
/*头部 开始*/

/*头部*/
.header {
	width:100%;
	height:60px;
	display: flex;
	/*justify-content:space-between;*/
	align-items: center;
    padding: 0 20px;
    z-index: 2;
}
.header-logo-box {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 20px;
	/*font-family: MicrosoftYaHei-Bold;*/
}
.header-logo-box img {
	margin-right: 5px;
}
.header-menu {
	/* height: auto; */
	color: #000;
	font-size: 14px;
	height:190px;
	width: 230px;
	overflow: auto;
	/*margin-right: 216px;*/
}
.cutMenuBtn {
	position: absolute;
	right: 44px;
	cursor: pointer;
}
.header-menu li {
	display: block;
	height: 38px;
	/* border-bottom: 1px solid #d9d9d9; */
	padding: 0 18px;
	line-height: 38px;
	cursor: pointer;
	font-size: 14px;
}
.header-menu img{
	vertical-align: middle;
}
.header-menu li:last-child {
	margin-right: 0;
}
.header-menu li:hover {
	/*background: url("../img/active.png") repeat-x;*/
	color:blueviolet;
	box-shadow: inset 0px 1px 0px 0px
		rgba(255, 255, 255, 0.7);
}
.header-menu li.active {
	/*background: url("../img/active.png") repeat-x;*/
	box-shadow: inset 0px 1px 0px 0px
		rgba(255, 255, 255, 0.7);
}
.header-msg {
	position: absolute;
	right: 0px;
	display: flex;
	align-items: center;
	color: #fff;
}
.header-msg-data {
	margin-left: 10px;
}
.header-msg-data-name {
	display: flex;
}
.header-msg-data-name div:nth-child(1) {
	position: relative;
	margin-right: 40px;
}
.header-msg-data-name div:nth-child(1):after {
	content: '';
	position: absolute;
	right: -25px;
	width: 0;
	height: 16px;
	border-left: 1px solid #fff;
}
/*.header-menu-after {*/
	/*margin-right: 216px;*/
/*}*/
.header-menu-after li:nth-child(n + 6) {
	display: none;
}
/*.header-menu-before {*/
	/*margin-right: 167px;*/
/*}*/
.header-menu-before li:nth-child(-n + 5) {
	display: none;
}

/*头部 结束*/