.gaosu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -22px -1874px;
}

.tielu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -82px -1874px;
}

.heliu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -142px -1874px;
}

.qiaoliang {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -1874px;
}

.guidaozhan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -1874px;
}

.suidao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -1874px;
}

.senlin {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -1874px;
}

.shidi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -1874px;
}

.shijie {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -1874px;
}

.xianorqujie{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -1874px;
}

.xiangzhenjie {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -1874px;
}

.rukou {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -704px -1874px;
}

.mianji {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -1874px;
}

.GDP {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -1874px;
}

.yinjibinansuo {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -1874px;
}

.yinjisheshi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -1874px;
}

.yinjiwuzi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -1874px;
}

.jiuyuanliliang {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -1874px;
}

.yingjizhuanjia {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1241px -1874px;
}

.jianceshikuang {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1321px -1874px;
}

.nengjiandu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1401px -1874px;
}

.leidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1469px -1874px;
}

.leidatu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1536px -1874px;
}

.weixingyuntu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1605px -1874px;
}

.shuiwenshuiweijiliuliang {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1681px -1874px;
}

.shuikushuiwei {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1744px -1874px;
}

.hedaoshuiqing {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1816px -1874px;
}

.LEDorLCD {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -22px -1963px;
}

.yujingdalaba{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -82px -1963px;
}

.youjian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -142px -1963px;
}

.yujingweixin {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -1963px;
}

.yujingapp {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -1963px;
}

.yujingzerenren {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -1963px;
}

.yujingzhongduan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -1963px;
}

.jiaotongshuniu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -1963px;
}

.matou {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -1963px;
}

.chezhan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -1963px;
}

.gangkou {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -1963px;
}

.jingdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -704px -1963px;
}

.yiyuan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -1963px;
}

.xuexiao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -1963px;
}

.yubaoluoqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -1963px;
}

.ganhan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -1963px;
}

.tufahuanjingwuranshijiankuozhanfanwei {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -1963px;
}

.jingxihuasenlinhuoxian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -1963px;
}

.fazhibaojing {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1241px -1963px;
}

.yujingxinhao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1321px -1963px;
}

.gedianyubao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1401px -1963px;
}

.duanlinyubao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1469px -1963px;
}

.nongtianxiaoqihou {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1536px -1963px;
}

.dizhizaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -22px -2341px;
}

.fuyanglizi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1681px -1963px;
}

.senlinhuodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1744px -1963px;
}

.shidifenbu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1816px -1963px;
}

.jidinghe {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -22px -2055px;
}

.nongyechanyefenbu{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -82px -2055px;
}

.xinxingnongyejingyingzhuti {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -142px -2055px;
}

.guoyoulinye {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -2055px;
}

.xiangzhenchengzhen {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -2055px;
}

.shuiku {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -2055px;
}

.youkujiayouzhan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -2055px;
}

.weihuadian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -2055px;
}

.mingandanwei {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -2055px;
}

.linyezaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -2055px;
}

.honglaozaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -2055px;
}

.shanhongzaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(..img/legendIcon.png) no-repeat -1681px -2341px;
}

.fengxianpuchadian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -2055px;
}

.jishuidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -2055px;
}

.shanhonggou {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -2055px;
}

.jianzhushigongyinhuandian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -2055px;
}

.shanhongyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -2055px;
}

.ganhanyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -2055px;
}

.bingbaoyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1241px -2055px;
}

.dafengyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1321px -2055px;
}

.baoyuyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1401px -2055px;
}

.leidianyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1469px -2055px;
}

.senlinhuoxianyifaqu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1536px -2055px;
}

.xueshen {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -22px -2163px;
}

.baoxue{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -82px -2163px;
}

.daxue {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -142px -2163px;
}

.zhongxue {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -2163px;
}

.xiaoxue {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -2163px;
}

.jiebing {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -2163px;
}

.baoyu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -2163px;
}

.dayu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -2163px;
}

.zhongyu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -2163px;
}

.xiaoyu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -2163px;
}

.wumai {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -2163px;
}

.dawu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -704px -2163px;
}

.qingwu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -2163px;
}

.lvshui {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -2163px;
}

.qingshan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -2163px;
}

.fanhua {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -2163px;
}

.haotianqi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -2163px;
}

.nianjian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -2163px;
}

.gongjiaoche {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1241px -2163px;
}

.qinggui {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1321px -2163px;
}

.huoche {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1401px -2163px;
}

.feiji {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1469px -2163px;
}

.chuanbo {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1536px -2163px;
}

.leiji{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -22px -2253px;
}

.weifeng{
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -82px -2253px;
}

.dafeng {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -142px -2253px;
}

.longjuanfeng {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -2253px;
}

.bingbao {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -2253px;
}

.hongshui {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -2253px;
}

.shanhong {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -2253px;
}

.yanmo {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -2253px;
}

.huapo {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -2253px;
}

.shanhuo {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -2253px;
}

.huozai {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -2253px;
}

.duche {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -704px -2253px;
}

.nishiliu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -2253px;
}

.jiaotongshigu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -2253px;
}

.renyuanjuji {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -2253px;
}

.tufashijian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -2253px;
}

.yidongjizhan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -2253px;
}

.guancezhanshijing {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -2253px;
}

.renyingpaodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1241px -2253px;
}

.yidongyonghu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1321px -2253px;
}

.baoyudian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -82px -2341px;
}

.hanchaodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -142px -2341px;
}

.dafengdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -202px -2341px;
}

.diwendonghaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -262px -2341px;
}

.gaowendian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -322px -2341px;
}

.relangdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -382px -2341px;
}

.leidiandian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -447px -2341px;
}

.bingbaodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -507px -2341px;
}

.shuangdongdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -567px -2341px;
}

.dawudian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -636px -2341px;
}

.shuikuzhongdaxianqingdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -704px -2341px;
}

.difangzhongdaxianqingdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -768px -2341px;
}

.dikongfengqiebiandian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -837px -2341px;
}

.qitaqixiangzaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -911px -2341px;
}

.huapodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1000px -2341px;
}

.nishiliudian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1081px -2341px;
}

.shantibengtadian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1161px -2341px;
}

.dimianbengtadian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1241px -2341px;
}

.diliefengdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1321px -2341px;
}

.dimianchenjiangdian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1401px -2341px;
}

.qitadizhizaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(./legendIcon.png) no-repeat -1469px -2341px;
}

.hongshuidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1536px -2341px;
}

.neilaodian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1605px -2341px;
}

.shanhongzaihaidian {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 30px;
	background: url(../img/legendIcon.png) no-repeat -1681px -2341px;
}

.leidianzheng {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/legendIcon.png) no-repeat -27px -2441px;
}

.leidianfu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/legendIcon.png) no-repeat -87px -2441px;
}

.mingandanwei_jiaoyu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(legendIcon.png) no-repeat -142px -2424px;
}

.mingandanwei_yiliaofuwu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -202px -2424px;
}

.mingandanwei_youzhengkuaidi {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -262px -2424px;
}

.mingandanwei_zhengfujiguan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -322px -2424px;
}

.mingandanwei_binguan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -382px -2424px;
}

.mingandanwei_tiyuyundong {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -447px -2424px;
}

.mingandanwei_qixiangju {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -507px -2424px;
}

.mingandanwei_meikuang {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -567px -2424px;
}

.mingandanwei_weihua {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -636px -2424px;
}

.mingandanwei_jiaotongyunshu {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -704px -2424px;
}

.mingandanwei_shuili {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -768px -2424px;
}

.mingandanwei_linye {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -837px -2424px;
}

.mingandanwei_lvyouye {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -911px -2424px;
}

.bumenzhongduan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1000px -2424px;
}

.yujingzhongxinzhongduan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1081px -2424px;
}

.xiangzhenzhongduan {
	margin: 0 5px 0 0 !important;  
    cursor: default !important;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/legendIcon.png) no-repeat -1161px -2424px;
}

/*知行*/