html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	;
}

body {
	background: url("../img/loginBg.jpg") #09236a no-repeat center;
	background-size: cover;
}

label {
	font-size: 12px;
	cursor: pointer;
	color: #01a8f4;
}

label i {
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	border-radius: 2px;
	vertical-align: middle;
	margin: -2px 8px 1px 0px;
	border: none;
	background: #fff;
}

input[type="checkbox"] {
	display: none;
}

input[type="radio"]+i {
	border-radius: 7px;
}

input[type="checkbox"]:checked+i {
	background: #fff;
	color: #01a8f4;
}

input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgba(255, 255, 255, .5);
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgba(255, 255, 255, .5);
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(255, 255, 255, .5);
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.login-box-1 {
	margin-top: 50px;
}

.login-box-3 {
	margin-bottom: 30px;
	color: #fff;
	/* font-size: 16px; */
	display: flex;
	align-items: center;
}

.login-box-3 img {
	margin-right: 12px;
}

.logo {
	width: 665px;
	height: 86px;
	background: url("../img/loginLogo.png") no-repeat;
}

.loginBox {
	width: 397px;
	height: 415px;
	background: url("../img/loginBox.png") no-repeat;
	padding: 51px 44px 61px 44px;
}

.logoInput {
	display: flex;
	align-items: center;
	width: 308px;
	height: 46px;
	padding: 0 18px;
	border: 1px solid #017eec;
	background: rgba(1, 126, 136, .1);
	margin-bottom: 20px;
}

.logoInput-account, .logoInput-password {
	width: calc(100% - 30px);
}

.logoInput>div:nth-child(1) {
	width: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 11px;
}

.logoInput>input {
	border: none;
	background: transparent;
	height: 30px;
	line-height: 30px;
	outline: none;
	color: #fff;
}

.logoInput>img:nth-child(3) {
	width: 70px;
	height: 35px;
	cursor: pointer;
}

.logoInput-verification-code {
	width: calc(100% - 99px);
}

.logoBtn {
	width: 100%;
	height: 48px;
	background-image: linear-gradient(0deg, 
		rgba(1, 126, 236, 0.4) 0%, 
		rgba(255, 255, 255, 0.4) 100%), 
	linear-gradient(
		#017eec, 
		#017eec);
	background-blend-mode: overlay, 
		normal;
	border-radius: 2px;
	font-size: 18px;
	color: #fff;
	margin: 40px 0 12px 0;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}
