.table_common-size{
    height: 466px;
    width: 526px;
}
.table_common-title{
    position: relative;
    padding-left: 20px;
    line-height: 40px;
    background-color: #2878ff
}
.table_common-close{
    position: absolute;
    top: 6px;
    right: 12px;
}
.table_common-list{
    width: 100%;
    height: 100%;
    overflow-y:scroll;
}
.table_common-list li,.table_common-list span{
    box-sizing: border-box;
    float: left;
    height: 50px;
    line-height: 50px;
}

.table_common-list li{
    width: 50%;
    border-top: none;
}
.table_common-list li:nth-of-type(1),.table_common-list li:nth-of-type(2){
    border-top: 1px solid #000;
}
.table_common-list li:nth-of-type(even){
    border-left: none;
}
.table_common-list span:nth-of-type(odd){
    width: 30%;
    font-weight: 600;
    text-align: center;
}
.table_common-list span:nth-of-type(even){
    width: 70%;
    border-left: 0px;
    text-align: left;
    border-left: 1px solid #000;
}