.pageOuter {
    width: 100%;
    height:100%;
    display: flex;
}

[v-cloak] {
    display: none;
}

.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
    background-color: #e6f2ff;
}
tr.ivu-table-row-hover td{
    background-color: #ebf7ff !important;
}

/*灾害性统计表格 开始*/

.severeStatisticsTable .ivu-table-border td, .severeStatisticsTable .ivu-table-border th {
    border-right: 1px solid #d0e9ff;
}
.severeStatisticsTable .ivu-table td, .severeStatisticsTable .ivu-table th {
    border-bottom: 1px solid #d0e9ff !important;
}

/*灾害性统计表格 结束*/

/*按钮样式 开始*/

.common-btn-style {
    width: 80px;
    height: 34px;
}

.common-btn-styleList {
    background: #fff;
    color: rgb(1, 126, 236);
    font-size: 14px;
    border-radius: 0;
    border: none;
    width: 80px;
    height: 34px;
    cursor: pointer;
}
.common-btn-styleList.active {
    background: #1c55ad;
    color: #fff;
}

.ivu-btn-primary {
    /* background: #1c55ad; */
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.ivu-btn-primary:hover {
    background: #1c55ad;
}
.ivu-btn-error:hover {
    background: #ed3f14;
}
.ivu-btn-warning:hover {
    background: #f90;
}
.ivu-btn-error, .ivu-btn-warning {
    font-size: 14px;
    border-radius: 0;
    border: none;
}

/*按钮样式 结束*/

/*树形图 开始*/
.arborescence {
    width: 210px;
    height: 100%;
    background: #f2f8ff;
    padding: 15px;
    overflow-y: scroll;
}
/*树形图 结束*/

/*信息类型管理弹出框 开始*/

.detailsBox {
    position: relative;
    width: 660px;
    height: 510px;
    margin-left: -330px;
    left: 50%;
    top: 50%;
    background: #fff;
    margin-top: -255px;
    border-radius: 8px;
}
.detailsBox1 {
    width: 800px;
    margin-left: -400px;
}
.detailsBox-header {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background-color: #f2f8ff;
    box-shadow: 0px 1px 0px 0px
    #dbecff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.closeBtn {
    width: 22px;
    height: 22px;
    background: url("../img/close.png") no-repeat;
    cursor: pointer;
}
.detailsBox-footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.detailsBox-footer button:nth-child(1) {
    margin-right: 15px;
}
.detailsBox-footer button:nth-child(2) {
    margin-left: 15px;
}
.detailsBox-content {
    position: relative;
    padding: 20px 20px 10px 20px;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: #fff;
}
.detailsBox-planSet {
    font-size: 16px;
    margin-bottom: 8px;
}
.detailsBox-duty {
    font-size: 16px;
    margin-top: 8px;
}
.iconUpload {
    margin-right: 6px;
}
.uploadBtn {
    color: #438eec;
    cursor: pointer;
}
.detailsBox-duty-header {
    margin: 15px 0 15px 0;
}
.detailsBox-duty-header span:nth-child(1) {
    margin: 0 144px 0 20px;
}
.detailsBox-duty-content {
    display: flex;
    margin-bottom: 20px;
}
.detailsBox-duty-content:last-child {
    margin-bottom: 0;
}
.detailsBox-duty-content div:nth-child(1) {
    width: 150px;
    height: 104px;
    border-radius: 10px;
    margin-right: 20px;
    border: solid 1px #eeeeee;
    text-align: center;
    line-height: 104px;
}
.detailsBox-duty-content div:nth-child(2) {
    width: 390px;
    height: 104px;
    border-radius: 10px;
    border: solid 1px #eeeeee;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.detailsBox-duty-addList {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #438eec;
    right: 40px;
    bottom: 20px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
}
.informationTypeInput {
    margin-bottom: 30px;
}

.informationTypeInput textarea {
    resize: none;
}


/*信息类型管理弹出框 结束*/

/*账号管理弹出框 开始*/

.detailsBox-account {
    width: 740px;
}
.detailsBox-account-title {
    font-size: 16px;
    margin: 12px 0 15px 0;
}
.detailsBox-account-content-1 {
    display: flex;
    flex-flow: row wrap;
}
.inquire-label-1 {
    position: relative;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #666;
    margin-right: 35px;
    width: 67px;
    line-height: 32px;
}
.tableData-condition-input-1 {
    margin: 5px 11px 5px 0;
    display: flex;
}
.addressBook, .mapPoint {
    width: 108px;
    height: 34px;
    background-image: linear-gradient(0deg,
    rgba(1, 126, 236, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(
            #ffffff,
            #ffffff);
    background-blend-mode: overlay,
    normal;
    border-radius: 4px;
    border: solid 1px #438eec;
    color: #438eec;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    align-self: center;
}

/*账号管理弹出框 结束*/

/*角色管理弹出框 开始*/

.detailsBox-role {
    width: 740px;
}
.inquire-label-2 {
    position: relative;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #666;
    margin-right: 20px;
    width: 67px;
    line-height: 32px;
}
.role-permissions-set {
    width: 608px;
    height: 378px;
    background-color: #ffffff;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    padding: 20px;
    overflow-y: scroll;
}
.tableData-condition-input-2 {
    margin-bottom: 20px;
    display: flex;
}
.role-issue-channels {
    width: 608px;
    background-color: #ffffff;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    padding: 20px;
}

/*角色管理弹出框 结束*/

/*信息审核设置 开始*/

.auditInformation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auditInformation-box-title {
    font-size: 16px;
    color: #666666;
}
.auditInformation-box-footer {
    margin-top: 30px;
}
.auditInformation-box-footer button:nth-child(1) {
    margin: 0 20px 0 110px;
}
.issue-fillout-input {
    display: flex;
    align-items: center;
}
.issue-edit-label {
    width: 64px;
    text-align: right;
    font-size: 16px;
    margin-right: 30px;
}
.initialBtn {
    background: #fff;
    color: #2d8cf0;
}
.initialBtn:hover {
    background: #fff;
    color: #2d8cf0;
}

/*信息审核设置 结束*/

/*号码管理与筛选 开始*/

.tableData-step {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    color: #555;
}
.tableData-step div {
    margin-bottom: 10px;
}
.tableData-step-title {
    color: #222;
}
.tableData-step-1, .tableData-step-2, .tableData-step-3 {
    display: flex;
}
.tableData-step-1 div:nth-child(1), .tableData-step-3 div:nth-child(1), .tableData-step-3 div:nth-child(2) {
    color: #438eec;
    text-decoration: underline;
    margin: 0 20px 0 10px;
    cursor: pointer;
}
.tableData-step-1 span:nth-child(2), .tableData-step-3 span:nth-child(3) {
    color: #229032;
}

/*号码管理与筛选 结束*/

/*质量控制 开始*/

.massControl-header {
    display: flex;
    height: 200px;
}
.massControl-sensitive-word-text {
    margin: 15px 15px 0 20px;
}
.massControl-sensitive-word-input {
    width: calc(100% - 800px);
    height: 100%;
    min-width: 600px;
}
.massControl-sensitive-word-input textarea {
    resize: none;
}
.massControl-sensitive-word-input textarea {
    height: 100%;
}
.massControl-header button {
    align-self: flex-end;
    width: 80px;
    height: 38px;
    margin-left: 15px;
}
.massControl-content {
    width: 100%;
    height: calc(100% - 220px);
    background: #f2f8ff;
    margin-top: 20px;
    padding: 20px 30px;
    overflow-y: scroll;
}
.massControl-content-title {
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
}
.massControl-content-search-input {
    margin-bottom: 20px;
    width: 306px;
}
.massControl-content-List li {
    display: flex;
}
.massControl-content-List li div:nth-child(1) {
    padding-top: 19px;
    color: #000;
    width: 40px;
}
.massControl-content-List li div:nth-child(2) {
    padding: 13px 0;
    border-bottom: 1px dashed #ccc;
    margin-left: 16px;
    width: calc(100% - 40px);
    display: flex;
    flex-flow: row wrap;
}

/*质量控制 结束*/

/*通讯录 开始*/

.editStyle {
    color: #2b85e4;
    text-decoration: underline;
    cursor: pointer;
}
.address-book-import-title {
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
}
.address-book-import-set {
    display: flex;
}
.address-book-import-set-title {
    margin-top: 17px;
}
.address-book-import-way {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.address-book-import-way-ps {
    color: #ff4d5e;
}
.address-book-import-btn {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.address-book-import-btn .ivu-upload {
    display: flex;
}
.address-book-import-downloadTemplate {
    color: #438eec;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}
.address-book-import-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.address-book-import-succeed {
    color: #19be6b;
    font-size: 14px;
}
.addressBookScreen {
    position: absolute;
    width: 740px;
    height: 510px;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: -255px;
    background: #fff;
    border-radius: 8px;
    z-index: 3;
}
.addressBookScreen-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
    background-color: #f2f8ff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.addressBookScreen-content-inquire {
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 15px 0;
}
.addressBookScreen-footer {
    padding: 0 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/*通讯录 结束*/

/*查看内容 开始*/

.tableData-2 {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.issue-record-content {
    width: 1280px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px
    rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 30px;
}
.issue-record-content-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f2f8ff;
    box-shadow: 0px 1px 0px 0px
    #dbecff;
    font-size: 18px;
    color: #555;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-topr-right-radius: 10px;
}
.issue-record-details {
    padding: 50px 100px 30px 100px;
}
.issue-record-details-type {
    display: flex;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid #eee;
}
.issue-record-details-data {
    position: relative;
    width: 100%;
    /*height: 910px;*/
    padding: 50px 260px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #555;
}
.issue-record-details-data-icon {
    color: #438eec;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 30px;
    cursor: pointer;
}
.issue-record-details-download {
    margin-top: 30px;
}
.issue-record-download-title {
    margin-bottom: 20px;
    font-size: 14px;
}
.issue-record-download-title span:nth-child(2){
    color: #438eec;
    cursor: pointer;
}
.issue-record-accessory-list i {
     color: #438eec;
}
.issue-record-accessory-list span:nth-child(3) {
     color: #999;
 }
.issue-record-accessory-list span:nth-child(4), .issue-record-accessory-list span:nth-child(5) {
    color: #438eec;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 8px;
}

.issue-record-details-data1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #555;
}

.issue-record-details-data1 .wechatTitleImg {
    max-width: 1068px;
    max-height: 534px;
    align-self: center;
    margin-bottom: 15px;
}

/*查看内容 结束*/

/*流程监控 开始*/

.issue-record-process-title {
    display: flex;
    font-size: 20px;
    color: #438eec;
    justify-content: center;
    margin-bottom: 50px;
}
.issue-record-process {
    display: flex;
    justify-content: space-between;
    height: 160px;
}
.issue-record-process-step {
    position: relative;
}
.issue-record-step-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.issue-record-step-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    font-size: 16px;
    color: #fff;
    background: #cccccc;
    border-radius: 50%;
}
.issue-record-step-name.active {
    background: #438eec;
}
.issue-record-process-step .issue-record-step-top img {
    margin-right: 15px;
}
.issue-record-process-step:first-child .issue-record-step-top img {
    display: none;
}
.issue-record-step-bottom {
    position: absolute;
    width: 170px;
    left: 140px;
    color: #ccc;
}
.issue-record-step-bottom.active {
    color: #438eec;
}
.issue-record-process-step:first-child .issue-record-step-bottom {
    left: 0px;
}
.issue-record-step-bottom p:first-child {
    margin-top: 12px;
}
.issue-record-step-bottom p {
    font-size: 16px;
    margin-bottom: 9px;
}
.issue-record-process-state {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #eee;
}
.issue-record-process-state>div {
    width: 227px;
    height: 152px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #b8d9ff;
    margin-right: 57px;
}
.issue-record-process-state>div:nth-child(4n) {
    margin-right: 0;
}
.issue-record-process-state-header {
    display: flex;
    justify-content: space-between;
    height: 37px;
    border-bottom: 1px solid #b8d9ff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f2f8ff;
    padding: 0 10px;
    line-height: 37px;
    font-size: 16px;
}
.issue-record-process-state-header span:first-child {
    color: #555;
}
.issue-record-process-state-header span:last-child {
    color: #438eec;
    text-decoration: underline;
    cursor: pointer;
}
.issue-record-process-state-content {
    padding: 10px;
    font-size: 14px;
}
.issue-record-process-state-content p {
    margin-bottom: 2px;
}
.issue-record-process-state-content p span:nth-child(2) {
    color: #438eec;
}
.issue-record-process-state-content p:last-child {
    margin-bottom: 0;
}
.issue-record-process-state-defeated {
    font-size: 16px;
    color: #ffa6af;
    padding-left: 10px;
    margin-top: 5px;
}
.issue-record-process-state-defeated span {
    color: #438eec;
    text-decoration: underline;
    cursor: pointer;
}
.issue-record-process-warning {
    position: relative;
    border-radius: 4px;
    border: 1px solid #b8d9ff;
    width: 100%;
    padding: 20px;
    margin-bottom: 28px;
}
.issue-record-process-warning:last-child {
    margin-bottom: 0;
}
.issue-record-process-warning-close {
    position: absolute;
    background: url("../img/close2.png") no-repeat;
    width: 22px;
    height: 22px;
    right: -11px;
    top: -11px;
    cursor: pointer;
}
.issue-record-process-warning-close:hover {
    background: url("../img/close3.png") no-repeat;
}
.issue-record-process-warning-table .ivu-tabs-ink-bar {
    background: transparent;
}
.issue-record-process-warning-table .ivu-tabs-bar {
    border-bottom: none;
}
.issue-record-process-warning-table .ivu-tabs-nav .ivu-tabs-tab {
    font-size: 16px;
}
.issue-process-table-header {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 400px;
    padding: 0;
}
.issue-record-process-warning-title {
    color: #57a3f3;
    font-size: 16px;
}
.issue-record-process-warning-data {
    font-size: 16px;
    margin-top: 20px;
}
.issue-record-process-warning-data>span:nth-child(1) {
    margin-right: 200px;
}
.issue-record-process-upToTime {
    padding-left: 34px;
}

/*流程监控 结束*/

/*信息发布查询 开始*/

.tableData-condition-son {
    display: flex;
    width: 100%;
    flex-flow: wrap row;
    align-items: center;
}

/*信息发布查询 结束*/

/*终端在线率查询 开始*/

.terminal-onlineRate-legend {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.terminal-onlineRate-legend>span {
    margin-left: 10px;
}
.terminal-onlineRate-legend-up {
    width: 16px;
    height: 16px;
    background: #e6f2ff;
}
.terminal-onlineRate-legend-on {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #438eec;
}
.terminalTable .ivu-table th {
    background-color: #fff !important;
}
.terminalTable .ivu-table-cell {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terminalTable .ivu-table td, .terminalTable .ivu-table th {
    border-bottom: 1px solid #e9eaec !important;
}
.terminal-onlineRate-data {
    margin-top: 20px;
    width: 100%;
    height: 227px;
    border: solid 1px #e4e4e4;
    padding: 20px;
}
.terminal-onlineRate-data>p {
    font-size: 14px;
    color: #666;
}
.terminal-onlineRate-data>div {
    height: calc(100% - 30px);
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: space-between;
    overflow-y: auto;
}
.terminal-onlineRate-data>div span {
    width: 170px;
    height: 36px;
    border-radius: 2px;
    border: solid 1px #e4e4e4;
    text-align: center;
    line-height: 36px;
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

/*终端在线率查询 结束*/

/*会商上报 开始*/

.research-input-textarea textarea {
    resize: none;
    height: 100%;
}

/*会商上报 结束*/

/*灾害防御区设置 开始*/

.defenseBox li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.defenseBox li span:nth-child(2) {
    width: 60px;
    height: 5px;
    margin: 0 15px;
}

.defenseBox li span:nth-child(2).legend-1 {
    background: #ff0000;
}

.defenseBox li span:nth-child(2).legend-2 {
    background: #ff9900;
}

.defenseBox li span:nth-child(2).legend-3 {
    background: #ffff00;
}

.defenseBox li input {
    width: 100px;
    margin-right: 8px;
}

.inquire-label-3 {
    position: relative;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #666;
    margin-right: 20px;
    width: 70px;
    line-height: 32px;
}

.detailsBox-content-tab1, .detailsBox-content-tab2, .detailsBox-content-tab3 {
    position: relative;
    width: 100%;
    height: 356px;
    overflow-y: scroll;
}
.detailsBox-content-tab3> div {
    height: 100%;
}

.detailsBox-content-tab1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsBox-content-tab1 > ul > li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.alarmStandardBox {
    width: 100%;
    border: 1px solid rgb(22, 114, 186);
    margin: 10px 0;
}

.alarmStandardBox-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 0 10px;
}

.alarmStandardBox-foot {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 0 10px;
}

.alarmStandardBox-table {
    padding: 0 10px;
}

.siteBox {
    position: absolute;
    padding: 20px;
    z-index: 999;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 40px;
    margin-left: -40%;
    background: #fff;
    border: 1px solid rgb(22, 114, 186);
    border-radius: 2px;
}

.siteBox-content {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.siteBox-content > div {
    margin: 0 10px 15px 0;
}

.siteBox-foot {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.required {
    margin-left: 8px;
    color: red;
}

.treeLeft1 {
    width: 100%;
    float: left;
    max-height: 372px;
    overflow-y: scroll;
}

.treeLeft {
    width: 49%;
    float: left;
    max-height: 275px;
    overflow-y: scroll;
}

.tableRight {
    width: 49%;
    float: left;
    margin-left: 2%;
}

.note-page {
    margin-top: 6px;
    float: right;
    margin-right: 23px;
}

.tableRightTitle {
    margin-bottom: 10px;
}

/*灾害防御区设置 结束*/

/*典型案例上报 开始*/

.typicalCaseReport {
    width: 800px;
}

.typicalCaseReport>li {
    margin-bottom: 30px;
}

.typicalCaseReport>li:last-child {
    height: 88px;
}

.typicalCaseReport>li .inquire-label {
    width: 70px;
}

/*典型案例上报 结束*/

/*监测报警 开始*/

.monitoring-alarm-condition {
    width: 100%;
    background: #e6f2ff;
    padding: 8px 16px;
}

.monitoring-alarm-condition>div {
    display: flex;
    align-items: center;
    padding: 4px 0;
    border-bottom: 1px dashed #ccc;
}

.monitoring-alarm-condition>div:last-child {
    border-bottom: none;
}

.monitoring-alarm-condition .inquire-label {
    width: 70px;
}

.monitoring-alarm-box {
    width: 1200px;
    margin-left: -600px;
    height: 800px;
    margin-top: -400px;
}

.monitoring-alarm-box .detailsBox-content {
    height: 700px;
}

.monitoring-alarm-box .detailsBox-content .tableData-condition-input {
    margin-bottom: 20px;
}

.monitoring-alarm-box .detailsBox-content .tableData-condition-input textarea {
    resize: none;
}

.alarm-standard-box {
    width: 1070px;
    padding: 15px;
    border: 1px dashed #cecece;
}

.alarm-standard-box>ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}

.alarm-standard-box>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alarm-standard-box>ul>li>div:first-child {
    margin-bottom: 15px;
}

.monitoring-site-box {
    width: 1070px;
    border: 1px dashed #cecece;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

.alarm-custom-btn {
    text-align: center;
}

.issue-channels-classify {
    width: 1070px;
    height: 621px;
    /*height: calc(100% - 91px);*/
    /*min-height: 314px;*/
    border: solid 1px #dddee1;
}
.issue-channels-statistics-text {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
.issue-channels-statistics {
    color: #1c55ad;
    font-style: normal;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    padding: 5px 14px 4px;
    /*padding: 5px 34.6px 4px;*/
    margin-right: 0;
    border-radius: 0;
    border-top: none;
}
.ivu-tabs-nav .ivu-tabs-tab .ivu-icon {
    margin-right: 0;
    margin-left: 25px;
}
.ivu-tabs-nav .ivu-tabs-tab:last-child {
    margin-right: 0;
}
.ivu-tabs-tab .ivu-icon{
    transition: .2s;
}
.ivu-tabs-tab-active.ivu-tabs-tab-focused .ivu-icon {
    transform: rotate(180deg);
}
.issue-channels-classify .ivu-tabs .ivu-tabs-tabpane {
    padding: 0 20px 20px 20px;
}
.issue-channels-note {
    margin-bottom: 20px;
}
.issue-note-remark {
    position: absolute;
    color: #ff6600;
    right: 30px;
    top: 5px;
}
.noteCheckboxList {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding: 0 30px;
}
.noteCheckboxList>div {
    display: flex;
    align-items: center;
    margin-right: 75px;
}
.noteCheckboxList>div:nth-child(3n) {
    margin-right: 0;
}
.noteCheckboxList>div {
    width: 220px;
    margin-bottom: 20px;
}
.noteCheckboxList>div>label.ivu-checkbox-wrapper {
    margin-right: 0;
}
.issue-channels-classify>.ivu-tabs {
    height: 100%;
}
.issue-channels-classify .ivu-tabs .ivu-tabs-content-animated {
    height: 100%;
}
.issue-channels-classify .ivu-tabs .ivu-tabs-content-animated .ivu-tabs-tabpane {
    position: relative;
    height: 100%;
}
.issue-channels-note-box {
    width: 100%;
    height: calc(100% - 68px);
    overflow-y: auto;
}
.noteCheckboxList>div>i {
    cursor: pointer;
}
.issue-organizationChart-left {
    width: 260px;
    height: 100%;
    overflow-y: auto;
    float: left;
}
.issue-organizationChart-right {
    width: calc(100% - 272px);
    height: calc(100% - 12px);
    overflow-y: auto;
    float: right;
    margin: 6px 6px 0 0;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 6px;
    overflow-y: auto;
}
.issue-organizationChart-right label {
    margin: 0 135px 20px 0;
}
.issue-warning-box {
    height: calc(100% - 28px);
    overflow-y: auto;
}
.issue-warning-list {
    padding: 0 30px;
}
.issue-warning-list>div {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #eee;
    display: flex;
}
.issue-warning-list>div:last-child {
    border-bottom: none;
}
.issue-warning-list-left {
    width: 300px;
}
.issue-warning-list-right {
    display: flex;
    flex-flow: wrap row;
}
.issue-warning-list-right>div {
    margin: 0 50px 20px 0;
}
.issue-trumpet-box {
    height: calc(100% - 104px);
}

/*监测报警 结束*/

/*值班平台提醒设置 开始*/

.order-box-title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

.order-box {
    border: 1px solid #cecece;
    padding: 30px;
    width: 500px;
}

.order-box-text {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}

.order-box-ul li {
    margin-bottom: 10px;
}

.order-box-ul>li ul {
    padding-left: 20px;
    margin-top: 10px;
}

/*值班平台提醒设置 结束*/

/*补发设置 开始*/

.customOrganizationChart {
    width: 500px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #cecece;
    padding: 15px;
    margin-bottom: 10px;
}

/*补发设置 结束*/

/*预案管理 开始*/

.response-duty>ul>li {
    display: flex;
    margin-bottom: 10px;
}

.response-duty>ul>li>div:nth-child(1) {
    width: 180px;
    display: flex;
    justify-content: center;
}

.response-duty>ul>li>div:nth-child(2) {
    width: 270px;
    display: flex;
    justify-content: center;
}

.response-duty>ul>li>div:nth-child(2) textarea {
    resize: none;
}

.response-duty>ul>li>div:nth-child(3) {
    width: 80px;
    display: flex;
    justify-content: center;
}

.response-duty>ul>li>div {
    align-items: center;
    margin-right: 8px;
}

/*预案管理 结束*/

/*数据流和网络监控 开始*/

.networkMonitoringBg {
    background: url("../img/bg.jpg") no-repeat;
    background-size: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.network-top {
    width: 100%;
    height: 53.52%;
    display: flex;
}

.network-top-left {
    position: relative;
    width: 59.15%;
    height: 100%;
    margin-right: 24px;
    border: solid 1px #1d84a0;
    padding: 15px;
}

.network-top-right {
    width: 39.75%;;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.network-top-aisle {
    position: relative;
    width: 100%;
    height: 47.33%;
    border: solid 1px #1d84a0;
    padding: 20px;
}

.network-top-citiesCounties {
    position: relative;
    width: 100%;
    height: 47.33%;
    border: solid 1px #1d84a0;
    padding: 20px;
}

.network-bottom {
    position: relative;
    width: 100%;
    height: 43.72%;
    border: solid 1px #1d84a0;
    padding: 20px;
}

.network-angle-topLeft {
    position: absolute;
    left: 0;
    top: 0;
}

.network-angle-topRight {
    position: absolute;
    right: 0;
    top: 0;
}

.network-angle-bottomLeft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.network-angle-bottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
}

.network-wire-top {
    position: absolute;
    top: -10px;
    left: 15px;
}

.network-wire-bottom {
    position: absolute;
    bottom: -10px;
    right: 15px;
}

.network-input .ivu-input {
    border: 1px solid #1c55ad;
    color: #d1dbff;
    background-color: transparent;
}

.network-input .ivu-input-icon {
    color: #1c55ad;
}

.network-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.network-inquire {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.network-timeline {
    height: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.network-timeline ul {
    width: 95%;
    height: 65px;
    overflow-x: auto;
    white-space: nowrap;
}

*::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(130, 196, 204, .4) !important;
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
    background: rgba(71, 75, 75, .2) !important;
}

.network-timeline ul li {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 14px;
}

.network-timeline ul li:first-child {
    width: 30px;
    margin-right: -4px;
}

.network-timeline ul li:first-child .network-step {
    width: 12px;
    margin-left: 17px;
}

.network-timeline ul li:first-child .network-timeline-time {
    margin-right: -27px;
}

.network-timeline-time {
    float: right;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: -31px;
    display: inline-block;
    color: #d1dbff;
    font-size: 14px;
}

.network-timeline-time.active {
    background: linear-gradient(to bottom,
    #023c6f 0%,
    #0273ad 100%);
    box-shadow: 0px -1px 0px 0px #0362b2;
}

.network-step {
    position: relative;
    width: 72px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.network-circle {
    position: relative;
    z-index: 2;
    width: 12px;
    height: 12px;
    background: #22bdfb;
    border-radius: 50%;
    cursor: pointer;
}

.network-step-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,
    #2e8dde 0%,
    #2c89d2 0%,
    #2a85c5 0%,
    #328bd7 100%);
    opacity: 0.3;
}

.network-step.active .network-step-bg {
    background: #1c55ad;
    opacity: 1;
}

.network-timeline-content {
    padding: 20px 20px 0 20px;
    width: 650px;
    height: 190px;
    background-color: rgba(7, 131, 208, .23);
    border: solid 1px #0783d0;
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    color: #d1dbff;
    overflow-y: auto;
}

.network-timeline-content>div {
    width: 33%;
    margin-bottom: 20px;
    display: flex;
}

.network-timeline-content>div span:nth-child(1) {
    width: 112px;
}

.network-timeline-content>div span:nth-child(2) {
    width: 40px;
    text-align: center;
}

.network-timeline-content>div.active {
    color: #e2192c;
}

.network-top-aisle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network-top-aisle-header .network-title {
    margin-bottom: 0;
}

.network-top-aisle-header .network-title-time {
    color: #d1dbff;
    font-size: 14px;
    margin-left: 44px;
    flex: 1;
}

.network-top-aisle-header .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
    color: #d1dbff;
}

.network-top-aisle-header .ivu-select-selection {
    background-color: transparent;
    border: 1px solid #1c55ad;
}

.network-top-aisle-header .ivu-select-arrow {
    color: #1c55ad;
}

.network-top-aisle-header .ivu-select {
    color: #d1dbff;
}

.network-bar-legend {
    display: flex;
    float: right;
    margin-top: 8px;
}

.network-bar-legend>div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.network-bar-legend>div:last-child {
    margin-right: 0;
}

.network-bar-legend>div i {
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.network-bar-legend>div .red {
    background: #e2192c;
}

.network-bar-legend>div .yellow {
    background: #eabb00;
}

.network-bar-legend>div .blue {
    background: #0783d0;
}

.network-bar-legend>div span {
    color: #d1dbff;
}

.network-top-aisle-content {
    display: flex;
}

.network-each-monitoring {
    height: 150px;
    color: #d1dbff;
    font-size: 14px;
    overflow-y: auto;
    margin-left: 60px;
}

.network-each-monitoring>div {
    display: flex;
}

.network-each-monitoring>div span:nth-child(1) {
    width: 150px;
    text-align: right;
}

.network-bottom-server {
    width: 100%;
    margin-top: 15px;
    display: flex;
    height: calc(100% - 51px);
}

.network-bottom-server-1, .network-bottom-server-2 {
    height: 100%;
    display: flex;
    border: solid 1px #0783d0;
}

.government-affairs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    background: rgba(34, 189, 251, .1);
    color: #ffffff;
    font-size: 20px;
    border-right: solid 1px #0783d0;
}

.government-affairs span {
    width: 20px;
}

.network-bottom-server-1 .government-affairs-list {
    width: 586px;
}

.network-bottom-server-2 .government-affairs-list {
    width: 400px;
}

.government-affairs-list {
    padding: 20px;
    overflow-y: auto;
}

.government-affairs-list ul {
    display: flex;
    flex-flow: wrap row;
}

.network-bottom-server-1 .government-affairs-list ul li {
    margin: 0 10px 10px 0;
}

.network-bottom-server-1 .government-affairs-list ul li:nth-child(3n) {
    margin-right: 0;
}

.network-bottom-server-2 .government-affairs-list ul li {
    margin: 0 10px 10px 0;
}

.network-bottom-server-2 .government-affairs-list ul li:nth-child(2n) {
    margin-right: 0;
}

.government-affairs-list ul li {
    width: 175px;
    height: 64px;
    border-radius: 2px;
    border: solid 2px #0783d0;
    padding: 12px;
    display: flex;
    cursor: pointer;
}

.government-affairs-list ul li>div:nth-child(1) {
    margin-right: 16px;
}

.government-affairs-list ul li i {
    color: #0783d0;
    font-size: 26px;
}

.government-affairs-list ul li p {
    color: #0783d0;
}

.government-affairs-list ul li.active {
    border: solid 2px #e2192c;
}

.government-affairs-list ul li.active i {
    color: #e2192c;
    font-size: 26px;
}

.government-affairs-list ul li.active p {
    color: #e2192c;
}

.government-line-style {
    width: calc((100% - 1566px)/2);
    background: url('../img/lineStyle.png') repeat-x center;
}

.government-line-style.active {
    width: calc((100% - 1566px)/2);
    background: url('../img/lineStyle_1.png') repeat-x center;
}

.network-detailsBox-header {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background-color: #1c55ad;
    box-shadow: 0px 1px 0px 0px #dbecff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.network-detailsBox-header span:nth-child(1) {
    font-size: 16px;
}

.network-detailsBox-header span:nth-child(2) {
    font-size: 14px;
    flex: 1;
}

.network-closeBtn {
    width: 34px;
    height: 34px;
    background: url("../img/network-close.png") no-repeat;
    cursor: pointer;
    align-self: flex-start;
}

.network-detailsBox {
    position: relative;
    width: 1000px;
    height: 575px;
    margin-left: -500px;
    left: 50%;
    top: 50%;
    background: #fff;
    margin-top: -287.5px;
}

.network-detailsBox-content {
    position: relative;
    padding: 25px 20px 35px 20px;
    width: 100%;
    height: 575px;
    overflow-y: auto;
    background: #fff;
}

.network-detailsBox-content1, .network-detailsBox-content2, .network-detailsBox-content3 {
    margin-bottom: 20px;
}

.network-detailsBox-content1 {
    display: flex;
    justify-content: space-between;
}

.network-cpu, .network-ram {
    width: 470px;
    height: 146px;
    border: solid 1px #cecece;
    padding: 0 20px;
    display: flex;
    color: #666;
    font-size: 14px;
    justify-content: space-between;
}

.network-cpu>div:nth-child(2), .network-ram>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.network-detailsBox-content2, .network-detailsBox-content3, .network-detailsBox-content4 {
    width: 100%;
    border: solid 1px #cecece;
    display: flex;
    color: #666;
    font-size: 14px;
}

.network-detailsBox-content2 {
    padding: 0 20px;
    height: 186px;
    justify-content: space-between;
}

.network-detailsBox-content3 {
    height: 70px;
    padding: 0 20px;
}

.network-detailsBox-content4 {
    height: 68px;
    padding: 0 20px;
    justify-content: space-between;
}

.network-detailsBox-title {
    color: #333;
    font-size: 16px;
}

.network-detailsBox-title1 {
    margin-bottom: 30px;
}

.network-detailsBox-text {
    padding: 20px 0;
}

.network-monitoring-dom {
    margin-bottom: 8px;
}

.network-application-program {
    margin-left: 300px;
    line-height: 68px;
}

.network-application-program button {
    margin-right: 40px;
}

.network-detailsBox-statistics {
    width: 525px;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 16px;
    margin-right: 30px;
}

.network-detailsBox-statistics>div {
    line-height: 66px;
}

.network-detailsBox-normal {
    color: #0783d0;
}

.network-detailsBox-abnormal {
    color: #e2192c;
}

.network-ram p {
    display: flex;
}

.network-ram p>span:nth-child(1) {
    width: 98px;
    margin-right: 20px;
}

.network-ram i {
    font-style: normal;
}

.network-detailsBox-pie {
    display: flex;
    width: 630px;
    overflow-x: auto;
}

.network-detailsBox-pie>div {
    margin-left: 40px;
}

/*数据流和网络监控 结束*/

/*业务调查详情 开始*/

.questionnaire-box {
    padding: 20px 0;
}

.questionnaire-box > div {
    margin-bottom: 30px;
}

.questionnaire-box > div:last-child {
    margin-bottom: 0px;
}

.questionnaire-box > div .ivu-checkbox-wrapper {
    margin-bottom: 10px;
}

.questionnaire-box p {
    font-size: 14px;
    margin-bottom: 15px;
}

/*业务调查详情 结束*/

/*上报记录 开始*/

.detailsBox-reported-record-title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 15px 0;
    padding-bottom: 8px;
    border-bottom: 2px solid #e6f2ff;
}

.detailsBox-reported-record-content {
    display: flex;
    height: 40px;
    line-height: 40px;
}

.detailsBox-reported-record-content1 .detailsBox-content-left {
    width: 100%;
    margin-top: 10px;
}

.detailsBox-reported-record-content1 .detailsBox-content-left span:nth-child(2) {
    width: calc(100% - 134px);
    line-height: 24px;
}

.detailsBox-content-left, .detailsBox-content-right {
    display: flex;
    width: 50%;
    font-size: 14px;
    color: #999;
}

.detailsBox-content-left span:nth-child(1), .detailsBox-content-right span:nth-child(1) {
    width: 134px;
    font-weight: bold;
    color: #666;
    text-align: right;
}

/*上报记录 结束*/