/* 
 *element-ui样式重置
 */
 .el-card__header{
     padding: 0px !important;
 }

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
    font-family: "Microsoft YaHei","微软雅黑" !important;
    background-size: cover;
}

html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

*::-webkit-scrollbar{ width: 2px!important;}
*::-webkit-scrollbar-thumb{background: linear-gradient(160deg, #0061e6 20%,#1557c6 80%)}  

div:focus{
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul,li {
    list-style: none;
}

button {
  outline: none;
}

.ivu-input {
  background: rgba(255, 255, 255, .1);
  border-color: #00e5ff;
  color: #fff;
}

#app {
  width: 100%;
  height: 100%;
}

.ivu-table td, .ivu-table th {
  height: 35px;
}

/*.sign-note-page.ivu-page.mini .ivu-page-total {*/
  /*float: right;*/
  /*line-height: 30px;*/
  /*font-size: 14px;*/
/*}*/
/* .sign-note-page.ivu-page.mini .ivu-page-item-active {
    background: #1c55ad;
} */
/*.sign-note-page.ivu-page.mini .ivu-page-item {*/
  /*line-height: 27px;*/
/*}*/
/*.sign-note-page.ivu-page.mini .ivu-page-prev, .sign-note-page.ivu-page.mini .ivu-page-next {*/
  /*line-height: 27px;*/
/*}*/
/*.sign-note-page.ivu-page.mini .ivu-page-item-jump-prev, .sign-note-page.ivu-page.mini .ivu-page-item-jump-next {*/
  /*line-height: 27px;*/
/*}*/
.sign-note-page .ivu-page-item:hover a {
    color: #1c55ad;
}
.sign-note-page.ivu-page.mini .ivu-page-item-active:hover a {
    color: #fff;
}
/*.sign-note-page .ivu-page-item-active a, .sign-note-page .ivu-page-item-active:hover a {*/
  /*color: #fff;*/
/*}*/
.sign-note-page .ivu-page-prev:hover a, .sign-note-page .ivu-page-next:hover a {
    color: #1c55ad;
}


/*修改表格样式 结束*/

/*遮罩层 开始*/

.maskLayer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(24, 38, 66, .7);
}

.maskLayer1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*遮罩层 结束*/

/*必填 开始*/

.requiredText {
    position: absolute;
    color: #ff4d5e;
    top: 0;
    right: -5px;
}

/*必填 结束*/

/*标签样式 开始*/

.tag {
    position: relative;
    padding: 5px 8px;
    border-radius: 12px;
}
.tag:hover {
    background: #ff4d5e;
    border-radius: 12px;
    color: #fff;
    transition: .3s;
}
.tag:hover i {
    display: block;
}
.tag i {
    position: absolute;
    color: #fff;
    display: none;
    right: -8px;
    top: -6px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background: #ff4d5e;
    cursor: pointer;
}

/*标签样式 结束*/

/*表格 开始*/

.tableData {
    width: calc(100% - 210px);
    height: 100%;
    padding: 20px;
}
.tableData-1 {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.tableData-condition {
    width: 100%;
    /*height: 58px;*/
    background: #f5f7fa;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    padding: 8px 16px;
    overflow: auto;
}
.inquire-label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    width: 66px;
    text-align: right;
}
.inquire-label:first-of-type{
    width: 32px;
}
.judeg-inquire-label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    width: 66px;
    text-align: right;
}
.judeg-inquire-label:first-of-type{
    width: 32px;
}
.tableData-condition-input {
    margin: 5px 8px 5px 0;
    display: flex;
    align-items: center;
}
.tableData-condition-input1 {
    margin: 5px 40px 5px 0;
}
.tableData-operation {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 16px;
}
.tableData-operation-title {
    font-size: 16px;
    color: #333;
    min-width: 140px;
    align-self: flex-start;
}
.tableData-operation-btn button {

    padding: 0 15px;
    height: 36px;
    color: #333;
    border: solid 1px #cecece;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 16px;
    font-size: 14px;
}
.tableData-operation-btn button.btnActive {
    background: #2d8cf0;
    border: solid 1px #2d8cf0;
    color: #fff;
}
.tableData-table {
    width: calc(100%);
  
}
.tableData-page {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.ivu-table-sort i {
    font-size: 12px;
}

/*表格 结束*/

/*文字样式 开始*/

.detailsText {
    color: #438eec;
    font-style: normal;
}
.detailsText1 {
    color: #438eec;
    text-decoration: underline;
    font-style: normal;
    cursor: pointer;
}
.operateText:hover {
    color: rgb(67, 142, 236);
    cursor: pointer;
    text-decoration: underline;
}

/*文字样式 结束*/

/*loading 效果 开始*/

.demo-spin-container{
    display: inline-block;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99999;
}

/*loading 效果 结束*/

/*下拉框多选样式 开始*/

.ivu-select-multiple .ivu-select-selection {
    max-height: 32px;
    overflow-y: auto;
}

/*下拉框多选样式 结束*/

/*modal 样式修改 开始*/

.ivu-modal-header {
    background: #f8f8f8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ivu-modal-footer {
    border-top: none !important;
    text-align: center !important;
}

.ivu-modal-header p, .ivu-modal-header-inner {
    color: #666 !important;
    font-weight: 500 !important;
}

/*modal 样式修改 结束*/

/*tree 样式开始*/

.ivu-tree-title {
    color: #333 !important;
}

.ivu-tree ul {
    font-size: 14px !important;
}

/*tree 样式结束*/

.ivu-checkbox-wrapper {
    font-size: 14px !important;
}

.record-details .ivu-tooltip-content .ivu-tooltip-inner {
    max-height: none;
    white-space: normal;
}

.el-table::before{
	z-index: 0!important;
}
.tableData-condition-input .el-date-editor .el-range__icon{
    line-height: 0px!important;
}
.tableData-condition-input .el-date-editor .el-range-separator{
    line-height: 20px!important;
}
.tableData-condition-input .el-date-editor .el-range__close-icon{
    line-height: 0px!important;
}

