html, body {
	width: 100%;
	height: 100%;
}

[v-cloak] {
    display: none;
}

.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
	background-color: #e6f2ff;
}
tr.ivu-table-row-hover td{
	background-color: #ebf7ff !important;
}

/*tab 样式修改 开始 */

/*.ivu-tabs-ink-bar {*/
 	/*height: 0;*/
/*}*/
/*.ivu-tabs-bar {*/
	/*background: #fff;*/
	/*margin-bottom: 4px;*/
/*}*/
/*.ivu-tabs .ivu-tabs-tabpane {*/
	/*background: #fff;*/
/*}*/
/*.ivu-tabs-nav .ivu-tabs-tab .ivu-icon {*/
	/*margin-right: 0;*/
	/*text-align: center;*/
/*}*/
/*.ivu-tabs-nav .ivu-tabs-tab {*/
	/*padding: 8px 0;*/
	/*margin: 0 6px;*/
/*}*/
/*.ivu-tabs-nav {*/
	/*width: 100%;*/
	/*padding-left: 4px;*/
/*}*/
/*.ivu-badge-count {*/
	/*height: 16px;*/
	/*line-height: 16px;*/
	/*min-width: 16px;*/
	/*padding: 0;*/
/*}*/
/*.ivu-badge {*/
	/*position: absolute;*/
	/*right: -8px;*/
	/*top: 2px;*/
	/*font-size: 12px;*/
/*}*/

/*tab 样式修改 结束 */

/*按钮样式修改 开始*/

.ivu-btn-primary {
	background: #1c55ad;
	font-size: 14px;
	border-radius: 0;
	border: none;
}
.ivu-btn-primary:hover {
	background-color: #1c55ad;
	border-color: #1c55ad;
}

/*按钮样式修改 结束*/

/*气泡内样式 开始*/

.poptip-content {
    display: flex;
    flex-flow: row wrap;
    max-height: 400px;
}
.poptip-content>div {
    width: 90px;
}

/*气泡内样式 结束*/

/*导航样式修改 开始*/

.ivu-menu-dark {
	/*background: #164fae;*/
    background: transparent;
}
/*.ivu-menu li {*/
	/*margin: 5px 0 !important;*/
/*}*/
/*.ivu-menu>li:first-child {*/
	/*margin: 0 0 5px 0 !important;*/
/*}*/
.ivu-menu li {
	/*background: #103a81;*/
	/*border-top: 1px solid transparent;*/
	/*border-bottom: 1px solid transparent;*/
}
.nav>.ivu-menu>li {
    border-bottom: 1px solid #5c75af;
    background: #164999;
    margin-bottom: 1px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
	background: #4582e1 !important;
	color: #fff !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
	background: #1c55ad;
	color: #79e2ff;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
	color: #79e2ff;
    padding-left: 40px !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
	/*background: #174691;*/
	background: #1c55ad;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
	/*border-top-color: #01c2f7;*/
	/*border-bottom-color: #01c2f7;*/
	/*box-shadow: 0px 0px 0px 1px*/
	/*#01c2f7;*/
	/*background: rgba(1, 194, 247, .2) !important;*/
	background: #4582e1 !important;
	color: #fff;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
	/*border-top-color: #01c2f7;*/
	/*border-bottom-color: #01c2f7;*/
	/*box-shadow: 0px 0px 0px 1px*/
	/*#01c2f7;*/
	/*background: rgba(1, 194, 247, .2) !important;*/
	background: #4582e1;
	color: #fff;
}
.ivu-menu-opened>ul li.ivu-menu-item {
	color: #fff !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover {
	background: #4582e1 !important;
	color: #fff;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active>.ivu-menu-submenu-title {
	color: #79e2ff;
}
.ivu-menu {
	font-size: 16px;
}

/*导航样式修改 结束*/

/*弹窗公用样式 开始*/

.popup-bg {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
	background: #f5f5f5;
    z-index: 3;
}
.popup-box {
	position: relative;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px 0 0 20px;
	background: #fff;
}
.popup-close {
	position: absolute;
	width: 34px;
	height: 34px;
	right: 4px;
	top: 4px;
	z-index: 1;
	background: url("../img/close1.png") no-repeat;
	cursor: pointer;
}

/*弹窗公用样式 开始*/

/*整页样式 开始*/

.fullScreen {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
}

/*整页样式 结束*/

/*左边菜单样式 开始*/

.nav {
	float: left;
	width: 271px;
	height: 100%;
	overflow-y: scroll;
    background-image: linear-gradient(180deg, #16438d, #2369ce);
}

@-moz-document url-prefix() {
    .nav {
        width: 288px;
    }
}

iframe {
	width: 100%;
	height: 100%;
}
.tab-content-show {
	width: calc(100% - 271px);
	height: 100%;
	background: #fff;
	float: right;
}
.tab-content-show1 {
	width: 100%;
	height: 100%;
	background: #fff;
}

/*左边菜单样式 结束*/

/*头部 开始*/

/*头部*/
.header {
	position:relative;
	width:100%;
	height:60px;
	background: url("../img/headerBg.jpg") no-repeat;
	background-size: cover;
	display: flex;
	/*justify-content:space-between;*/
	align-items: center;
	padding: 0 20px;
}
.header-logo-box {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 20px;
	/*font-family: MicrosoftYaHei-Bold;*/
}
.header-logo-box img {
	margin-right: 5px;
}
.header-menu {
	height: 100%;
	display: flex;
	color: #fff;
	font-size: 16px;
	/*margin-right: 216px;*/
	margin-left: 69px;
}
.cutMenuBtn {
	position: absolute;
	right: 180px;
	cursor: pointer;
}
.header-menu li {
	height: 100%;
	padding: 0 18px;
	line-height: 60px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 40px;
}
.header-menu li:last-child {
	margin-right: 0;
}
.header-menu li:hover {
	/*background: url("../img/active.png") repeat-x;*/
	background-image: linear-gradient(180deg,
		rgb(29, 56, 139) 0%,
		rgb(57, 112, 197) 100%);
	box-shadow: inset 0px 1px 0px 0px
		rgba(255, 255, 255, 0.7);
}
.header-menu li.active {
	/*background: url("../img/active.png") repeat-x;*/
	background-image: linear-gradient(180deg,
		rgb(29, 56, 139) 0%,
		rgb(57, 112, 197) 100%);
	box-shadow: inset 0px 1px 0px 0px
		rgba(255, 255, 255, 0.7);
}
.header-msg {
	position: absolute;
	right: 30px;
	display: flex;
	align-items: center;
	color: #fff;
}
.header-msg-data {
	margin-left: 10px;
}
.header-msg-data-name {
	display: flex;
}
.header-msg-data-name div:nth-child(1) {
	position: relative;
	margin-right: 40px;
}
.header-msg-data-name div:nth-child(1):after {
	content: '';
	position: absolute;
	right: -25px;
	width: 0;
	height: 16px;
	border-left: 1px solid #fff;
}
/*.header-menu-after {*/
	/*margin-right: 216px;*/
/*}*/
.header-menu-after li:nth-child(n + 6) {
	display: none;
}
/*.header-menu-before {*/
	/*margin-right: 167px;*/
/*}*/
.header-menu-before li:nth-child(-n + 5) {
	display: none;
}

/*头部 结束*/

/*地图 开始*/

.map {
	position: absolute !important;
	top: 60px;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
}
.map img {
	width: 100%;
	height: 100%;
}
.map-controls {
	position: absolute;
	right: 20px;
	bottom: 30px;
}
.map-controls>ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.map-controls>ul>li {
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	color: #7d8596;
	font-size: 12px;
	background: #fff;
	margin-bottom: 2px;
	cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.map-controls>ul>li:last-child {
	margin-bottom: 0;
}
.map-controls>ul>li:hover {
	color: #1394ff;
}
.map-controls-type>img {
	border: 1px solid rgba(0, 0, 0, .4);
	cursor: pointer;
	width: 40px;
	height: 40px;
}
.map-controls-type>ul {
	position: absolute;
	right: -156px;
	bottom: 2px;
	display: flex;
	border: 1px solid #363636;
	padding: 2px;
	background: #fff;
}
.map-controls-type>ul li {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.map-controls-type>ul li:last-child {
	margin-right: 0;
}
.map-controls-type>ul li img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

	/*地图 结束*/

/*内容 开始*/

.tab-content {
	position: relative;
	/*width: 100%;*/
	/*height: calc(100% - 60px);*/
}
.tab-content>div {
	/*width: 100%;*/
	/*height: 100%;*/
	/*display: flex;*/
}

/*内容 结束*/

/*多灾种灾害监测平台 开始*/

.monitor-menu {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(90deg, rgb(5, 19, 60) 0%, rgb(31, 63, 119) 100%);
    display: flex;
    justify-content: space-between;
}
.monitor-menu-left {
    position: relative;
    width: 600px;
    height: 40px;
}
.monitor-menu-right {
    position: relative;
    width: 100%;
    z-index: 3;
}
.monitor-menu-left>ul, .monitor-menu-right>ul {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}
.monitor-menu-left>ul>li, .monitor-menu-right>ul>li {
    position: relative;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    padding: 0 16px;
}
.monitor-menu-left>ul>li.active {
    background: #fff;
    color: #666;
    font-weight: bold;
}
.monitor-menu-right>ul>li.active {
    background: #fff;
    color: #1c55ad;
}
.monitor-menu-left>ul>li:hover {
    background: #fff;
    color: #666;
    font-weight: bold;
}
.monitor-menu-right>ul>li:hover {
    background: #fff;
    color: #1c55ad;
}
.monitor-menu-left>ul>li>img {
    margin-right: 8px;
}
.monitor-menu-right>ul>li>i {
    margin-right: 5px;
}

.monitor-menu-box {
    padding: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.9);
}
.monitor-menu-basics {
    width: 402px;
    top: 40px;
    left: 0;
}
.monitor-menu-basics .monitor-menu-list-title {
    font-size: 12px;
    color: #666;
    width: 272px;
}
.monitor-menu-basics .monitor-menu-list-title span:nth-child(1) {
	font-size: 14px;
	color: #333;
}
.monitor-menu-monitor {
    width: 402px;
    max-height: 516px;
    overflow-y: scroll;
    top: 40px;
    left: 0;
}
.monitor-menu-monitor .monitor-menu-list-title {
    font-size: 12px;
    color: #666;
    width: 270px;
}
.monitor-menu-monitor .monitor-menu-list-title span:nth-child(1) {
	font-size: 14px;
	color: #333;
}
.monitor-menu-forecast {
    width: 345px;
    top: 40px;
    left: 124px;
}
.monitor-menu-forecast .monitor-menu-list-title {
    font-size: 12px;
    color: #666;
    width: 214px;
}
.monitor-menu-forecast .monitor-menu-list-title span:nth-child(1) {
	font-size: 14px;
	color: #333;
}
.monitor-menu-serve {
    width: 403px;
    top: 40px;
    left: 207px;
}
.monitor-menu-serve .monitor-menu-list-title {
    font-size: 12px;
    color: #666;
    width: 272px;
}
.monitor-menu-serve .monitor-menu-list-title span:nth-child(1) {
	font-size: 14px;
	color: #333;
}
.monitor-menu-risk {
    width: 455px;
    top: 40px;
    left: 293px;
}
.monitor-menu-risk .monitor-menu-list-title {
    font-size: 12px;
    color: #666;
    width: 324px;
}
.monitor-menu-risk .monitor-menu-list-title span:nth-child(1) {
	font-size: 14px;
	color: #333;
}
.monitor-menu-location {
	width: 422px;
	height: 460px;
}
.monitor-menu-location .monitor-menu-list-title {
    font-size: 14px;
    color: #666;
    width: 274px;
}
.monitor-menu-area {
    position: absolute;
    top: 55px;
    right: 8px;
    z-index: 2;
}
.monitor-menu-location-title {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
}
.monitor-menu-location-title span {
    color: #1c55ad;
    margin-left: 4px;
}
.monitor-menu-location-name {
    /*color: #438eec;*/
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}
.monitor-menu-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}
.monitor-menu-list>li, .monitor-menu-location-list>li {
    display: flex;
    margin-bottom: 25px;
}
.monitor-menu-list>li:last-child, .monitor-menu-location-list>li:last-child {
    margin-bottom: 0;
}
.monitor-menu-img {
    width: 111px;
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.monitor-menu-img p {
	font-size: 14px;
	color: #333;
	font-weight: 600;
	margin-top: 8px;
	text-align: center;
	padding: 0 7px;
}
.monitor-menu-location-text {
    width: 108px;
    display: flex;
    align-items: flex-start;
}
.monitor-menu-location-text span {
    padding-left: 5px;
}
.monitor-menu-location-text span.green {
    border-left: 3px solid #14b55d;
}
.monitor-menu-location-text span.blue {
    border-left: 3px solid #1c55ad;
}
.monitor-menu-location-text span.orange {
    border-left: 3px solid #ff6600;
}
.monitor-menu-location-text span.red {
    border-left: 3px solid #ff4d5e;
}
.monitor-menu-list-title p {
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}
.monitor-menu-location-list span {
    position: relative;
    display: inline-block;
    margin: 0 20px 5px 0;
}
.monitor-menu-list-title span:hover {
    color: #1c55ad;
    text-decoration: underline;
    cursor: pointer;
}
.monitor-menu-list-switch span.active {
    color: #1c55ad;
    text-decoration: underline;
    cursor: pointer;
}
.monitor-menu-location-name.active {
    color: #1c55ad;
    text-decoration: underline;
    cursor: pointer;
}
.monitor-menu-list-title span {
    position: relative;
    display: inline-block;
    margin: 0 20px 5px 0;
    cursor: pointer;
}
.monitor-menu-list-title span:first-child {
	font-weight: 600;
	color: #333;
}
.monitor-menu-list-title span:first-child:hover {
    color: #1c55ad;
}
.monitor-menu-list-title span img {
    /*display: none;*/
    position: absolute;
    right: -7px;
    top: -7px;
}
.monitor-menu-list-title span:hover img {
    display: block;
}
/*.monitor-menu-list-title span img.active {*/
    /*display: block;*/
/*}*/
.monitor-menu-area-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: 32px;
}
.monitor-menu-area-menu li {
    margin: 0 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.monitor-menu-area-menu li.rectangle {
    background: url("../img/jux.png") no-repeat;
}
.monitor-menu-area-menu li.rectangleactive {
    background: url("../img/jux_xuanz.png") no-repeat;
}
.monitor-menu-area-menu li.rotundity {
    background: url("../img/yuanx.png") no-repeat;
}
.monitor-menu-area-menu li.rotundityactive {
    background: url("../img/yuanx_xuanz.png") no-repeat;
}
.monitor-menu-area-menu li.polygon {
    background: url("../img/duobx.png") no-repeat;
}
.monitor-menu-area-menu li.polygonactive {
    background: url("../img/duobx_xuanz.png") no-repeat;
}
.monitor-menu-area-menu li.dropper {
    background: url("../img/dropper.png") no-repeat;
}
.monitor-menu-area-menu li.dropperactive {
    background: url("../img/dropper_xuanz.png") no-repeat;
}
.monitor-menu-area-menu li.aircraft {
    background: url("../img/feiji.png") no-repeat;
}
.monitor-menu-area-menu li.aircraftactive {
    background: url("../img/feiji_xuanz.png") no-repeat;
}
.monitor-area-rectangle, .monitor-area-rotundity {
    position: absolute;
    width: 418px;
    height: 322px;
    top: 36px;
    right: 0px;
}
.monitor-area-rectangle-title {
    color: #333;
    font-size: 14px;
    border-left:  3px solid #1c55ad;
    padding-left: 6px;
    margin-bottom: 15px;
}
.monitor-area-rectangle-data {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.monitor-area-rectangle-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.monitor-area-rectangle-btn button {
    width: 230px;
    height: 48px;
    font-size: 18px;
    border-radius: 24px;
}
.monitor-menu-search {
    width: 418px;
    display: flex;
    flex-direction: column;
}
.monitor-menu-search>div:nth-child(1) {
    display: flex;
    margin-bottom: 10px;
}
.monitor-menu-search-list {
    max-height: 168px;
    overflow-y: scroll;
}
.monitor-menu-search-name {
    color: #1c55ad;
    display: flex;
    align-items: center;
}
.monitor-menu-search-name i {
    color: #ff4d5e;
}
.monitor-menu-search-site {
    color: #666;
    padding-left: 16px;
}
.monitor-menu-search-btn {
    width: 70px;
    height: 32px;
    background: #1c55ad;
    color: #fff;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.monitor-menu-legend {
    position: fixed;
    left: 10px;
    bottom: 10px;
	width: 420px;
	max-height: 290px;
	overflow-y: auto;
}
.iconShrink {
	position: absolute;
	right: 8px;
	top: 0px;
	color: #666;
}
.iconShrink:hover {
	cursor: pointer;
	color: #1c55ad;
}
.monitor-menu-legend>div {
	margin: 10px 0;
}
.monitorLegend1 {
    width: 201px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorLegend3 {
	position: relative;
}
.monitorLegend1-title {
	position: relative;
    width: 100%;
    height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #666;
}
.monitorLegend1-content {
    padding: 10px;
}
.monitorLegend1-content p {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.monitorLegend1-content p:last-child {
    margin-bottom: 0;
}
.monitorLegend1-content p span:nth-child(1) {
    width: 60px;
    height: 15px;
    margin-right: 4px;
}
.monitorLegend1-content p span:nth-child(2) {
    font-size: 12px;
    color: #999;
}
.monitorLegend1-color1 {
    background: #8DD3ED;
}
.monitorLegend1-color2 {
    background: #EAED8D;
}
.monitorLegend1-color3 {
    background: #FABD6E;
}
.monitorLegend1-color4 {
    background: #FA926E;
}
.monitorLegend2 {
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorLegend2 label {
	margin-right: 25px;
}
.monitorLegend2-title {
	position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}
.monitorLegend2-content {
    padding: 10px;
}
.monitorLegend2-content-list {
    display: flex;
    flex-flow: row wrap;
}
.monitorLegend2-content-list label {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 0;
    margin-bottom: 5px;
}
.monitorLegend2-content-list-rain div {
    display: flex;
    flex-flow: row wrap;
}
.monitorLegend2-content-list-rain div label {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 0;
    margin-bottom: 5px;
}
.monitorLegend2-content-rain-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px 0 4px;
    border-radius: 50%;
    border: 1px solid #999;
}
.monitorLegend2-content-rain-icon1 {
	display: inline-block;
	width: 11px;
	height: 40px;
	margin: 0 4px 0 4px;
}

/*降雨 开始*/
.monitorLegend2-content-rain-1 {
    background: #ffffff;
}
.monitorLegend2-content-rain-2 {
    background: #a6f28e;
}
.monitorLegend2-content-rain-3 {
    background: #39a803;
}
.monitorLegend2-content-rain-4 {
    background: #5db8ff;
}
.monitorLegend2-content-rain-5 {
    background: #0400f9;
}
.monitorLegend2-content-rain-6 {
    background: #017548;
}
.monitorLegend2-content-rain-7 {
    background: #f804fc;
}
.monitorLegend2-content-rain-8 {
    background: #e14f00;
}
.monitorLegend2-content-rain-9 {
    background: #6f0200;
}
.monitorLegend2-content-rain1-1 {
    background: #ffffff;
}
.monitorLegend2-content-rain1-2 {
    background: #a6f28e;
}
.monitorLegend2-content-rain1-3 {
    background: #39a803;
}
.monitorLegend2-content-rain1-4 {
    background: #5db8ff;
}
.monitorLegend2-content-rain1-5 {
    background: #0400f9;
}
.monitorLegend2-content-rain1-6 {
    background: #fa00fa;
}
.monitorLegend2-content-rain1-7 {
    background: #800040;
}
/*降雨 结束*/

/*气温 开始*/
.monitorLegend2-content-temp-1 {
    background: rgb(0,0,40)
}
.monitorLegend2-content-temp-2 {
    background: rgb(0,0,45)
}
.monitorLegend2-content-temp-3 {
    background: rgb(0,0,56)
}
.monitorLegend2-content-temp-4 {
    background: rgb(0,0,68)
}
.monitorLegend2-content-temp-5 {
    background: rgb(0,0,74)
}
.monitorLegend2-content-temp-6 {
    background: rgb(0,0,82)
}
.monitorLegend2-content-temp-7 {
    background: rgb(0,0,98)
}
.monitorLegend2-content-temp-8 {
    background: rgb(0,0,115)
}
.monitorLegend2-content-temp-9 {
    background: rgb(0,0,131)
}
.monitorLegend2-content-temp-10 {
    background: rgb(0,0,149)
}
.monitorLegend2-content-temp-11 {
    background: rgb(0,0,165)
}
.monitorLegend2-content-temp-12 {
    background: rgb(0,0,182)
}
.monitorLegend2-content-temp-13 {
    background: rgb(0,0,195)
}
.monitorLegend2-content-temp-14 {
    background: rgb(0,0,208)
}
.monitorLegend2-content-temp-15 {
    background: rgb(0,0,218)
}
.monitorLegend2-content-temp-16 {
    background: rgb(0,0,223)
}
.monitorLegend2-content-temp-17 {
    background: rgb(0,0,255)
}
.monitorLegend2-content-temp-18 {
    background: rgb(19,22,252)
}
.monitorLegend2-content-temp-19 {
    background: rgb(50,60,249)
}
.monitorLegend2-content-temp-20 {
    background: rgb(87,103,246)
}
.monitorLegend2-content-temp-21 {
    background: rgb(126,148,240)
}
.monitorLegend2-content-temp-22 {
    background: rgb(161,191,232)
}
.monitorLegend2-content-temp-23 {
    background: rgb(189,228,222)
}
.monitorLegend2-content-temp-24 {
    background: rgb(206,254,206)
}
.monitorLegend2-content-temp-25 {
    background: rgb(206,255,179)
}
.monitorLegend2-content-temp-26 {
    background: rgb(195,255,146)
}
.monitorLegend2-content-temp-27 {
    background: rgb(176,255,108)
}
.monitorLegend2-content-temp-28 {
     background: rgb(156,255,75)
 }
.monitorLegend2-content-temp-29 {
    background: rgb(138,255,46)
}
.monitorLegend2-content-temp-30 {
    background: rgb(122,255,22)
}
.monitorLegend2-content-temp-31 {
    background: rgb(115,255,8)
}
.monitorLegend2-content-temp-32 {
	background: rgb(135,255,12)
}
.monitorLegend2-content-temp-33 {
	background: rgb(156,255,16)
}
.monitorLegend2-content-temp-34 {
	background: rgb(172,255,16)
}
.monitorLegend2-content-temp-35 {
	background: rgb(189,255,16)
}
.monitorLegend2-content-temp-36 {
	background: rgb(205,255,16)
}
.monitorLegend2-content-temp-37 {
	background: rgb(222,255,16)
}
.monitorLegend2-content-temp-38 {
	background: rgb(238,255,20)
}
.monitorLegend2-content-temp-39 {
	background: rgb(255,255,24)
}
.monitorLegend2-content-temp-40 {
	background: rgb(255,237,24)
}
.monitorLegend2-content-temp-41 {
	background: rgb(255,219,24)
}
.monitorLegend2-content-temp-42 {
	background: rgb(255,202,24)
}
.monitorLegend2-content-temp-43 {
	background: rgb(255,186,24)
}
.monitorLegend2-content-temp-44 {
	background: rgb(255,170,28)
}
.monitorLegend2-content-temp-45 {
	background: rgb(255,154,33)
}
.monitorLegend2-content-temp-46 {
	background: rgb(255,144,33)
}
.monitorLegend2-content-temp-47 {
	background: rgb(255,134,33)
}
.monitorLegend2-content-temp-48 {
	background: rgb(255,125,33)
}
.monitorLegend2-content-temp-49 {
	background: rgb(255,117,33)
}
.monitorLegend2-content-temp-50 {
	background: rgb(255,110,35)
}
.monitorLegend2-content-temp-51 {
	background: rgb(255,100,38)
}
.monitorLegend2-content-temp-52 {
	background: rgb(255,89,42)
}
.monitorLegend2-content-temp-53 {
	background: rgb(255,77,46)
}
.monitorLegend2-content-temp-54 {
	background: rgb(255,65,48)
}
.monitorLegend2-content-temp-55 {
	background: rgb(252,54,49)
}
.monitorLegend2-content-temp-56 {
	background: rgb(234,43,49)
}
.monitorLegend2-content-temp-57 {
	background: rgb(208,32,47)
}
.monitorLegend2-content-temp-58 {
	background: rgb(180,22,45)
}
.monitorLegend2-content-temp-59 {
	background: rgb(153,12,42)
}
.monitorLegend2-content-temp-60 {
	background: rgb(129,5,40)
}
.monitorLegend2-content-temp-61 {
	background: rgb(116,0,39)
}
/*气温 结束*/

/*能见度 开始*/
.monitorLegend2-content-seeing-1 {
	background: #a6f28f;
}
.monitorLegend2-content-seeing-2 {
	background: #3dba3d;
}
.monitorLegend2-content-seeing-3 {
	background: #61b8ff;
}
.monitorLegend2-content-seeing-4 {
    background: #0000ff;
}
.monitorLegend2-content-seeing-5 {
    background: #ff00ff;
}
.monitorLegend2-content-seeing-6 {
    background: #800040;
}
.monitorLegend2-content-seeing-7 {
    background: #ff0000;
}
/*能见度 结束*/

/*湿度 开始*/
.monitorLegend2-content-humidity-1 {
    background: #97e8ad;
}
.monitorLegend2-content-humidity-2 {
    background: #99d2ca;
}
.monitorLegend2-content-humidity-3 {
    background: #9bbce8;
}
.monitorLegend2-content-humidity-4 {
    background: #6b9de1;
}
.monitorLegend2-content-humidity-5 {
    background: #3b7edb;
}
.monitorLegend2-content-humidity-6 {
    background: #2b5cc2;
}
.monitorLegend2-content-humidity-7 {
    background: #1c3ba9;
}
.monitorLegend2-content-humidity-8 {
    background: #112c90;
}
.monitorLegend2-content-humidity-9 {
    background: #071e78;
}
.monitorLegend2-content-humidity-10 {
    background: #000f50;
}
/*湿度 结束*/

/*风 开始*/

.monitorLegend2-content-wind-1 {
	background: url("../img/wind/1.png") no-repeat;
}
.monitorLegend2-content-wind-2 {
	background: url("../img/wind/2.png") no-repeat;
}
.monitorLegend2-content-wind-3 {
	background: url("../img/wind/3.png") no-repeat;
}
.monitorLegend2-content-wind-4 {
	background: url("../img/wind/4.png") no-repeat;
}
.monitorLegend2-content-wind-5 {
	background: url("../img/wind/5.png") no-repeat;
}
.monitorLegend2-content-wind-6 {
	background: url("../img/wind/6.png") no-repeat;
}
.monitorLegend2-content-wind-7 {
	background: url("../img/wind/7.png") no-repeat;
}
.monitorLegend2-content-wind-8 {
	background: url("../img/wind/8.png") no-repeat;
}
.monitorLegend2-content-wind-9 {
	background: url("../img/wind/9.png") no-repeat;
}
.monitorLegend2-content-wind-10 {
	background: url("../img/wind/10.png") no-repeat;
}
.monitorLegend2-content-wind-11 {
	background: url("../img/wind/11.png") no-repeat;
}
.monitorLegend2-content-wind-12 {
	background: url("../img/wind/12.png") no-repeat;
}
.monitorLegend2-content-wind-13 {
	background: url("../img/wind/13.png") no-repeat;
}
.monitorLegend2-content-wind-14 {
	background: url("../img/wind/14.png") no-repeat;
}
.monitorLegend2-content-wind-15 {
	background: url("../img/wind/15.png") no-repeat;
}
.monitorLegend2-content-wind-16 {
	background: url("../img/wind/16.png") no-repeat;
}
.monitorLegend2-content-wind-17 {
	background: url("../img/wind/17.png") no-repeat;
}
.monitorLegend2-content-wind-18 {
	background: url("../img/wind/18.png") no-repeat;
}
.monitorLegend2-content-wind-19 {
	background: url("../img/wind/19.png") no-repeat;
}
.monitorLegend2-content-wind-20 {
	background: url("../img/wind/20.png") no-repeat;
}
.monitorLegend2-content-wind-21 {
	background: url("../img/wind/21.png") no-repeat;
}
.monitorLegend2-content-wind-22 {
	background: url("../img/wind/22.png") no-repeat;
}
.monitorLegend2-content-wind-23 {
	background: url("../img/wind/23.png") no-repeat;
}
.monitorLegend2-content-wind-24 {
	background: url("../img/wind/24.png") no-repeat;
}
.monitorLegend2-content-wind-25 {
	background: url("../img/wind/25.png") no-repeat;
}
.monitorLegend2-content-wind-26 {
	background: url("../img/wind/26.png") no-repeat;
}
.monitorLegend2-content-wind-27 {
	background: url("../img/wind/27.png") no-repeat;
}
.monitorLegend2-content-wind-28 {
	background: url("../img/wind/28.png") no-repeat;
}
.monitorLegend2-content-wind-29 {
	background: url("../img/wind/29.png") no-repeat;
}
.monitorLegend2-content-wind-30 {
	background: url("../img/wind/30.png") no-repeat;
}
.monitorLegend2-content-wind-31 {
	background: url("../img/wind/31.png") no-repeat;
}
.monitorLegend2-content-wind-32 {
	background: url("../img/wind/32.png") no-repeat;
}
.monitorLegend2-content-wind-33 {
	background: url("../img/wind/33.png") no-repeat;
}
.monitorLegend2-content-wind-34 {
	background: url("../img/wind/34.png") no-repeat;
}
.monitorLegend2-content-wind-35 {
	background: url("../img/wind/35.png") no-repeat;
}
.monitorLegend2-content-wind-36 {
	background: url("../img/wind/36.png") no-repeat;
}
.monitorLegend2-content-wind-37 {
	background: url("../img/wind/37.png") no-repeat;
}


/*风 结束*/

/*气压 开始*/
.monitorLegend2-content-kpa-1 {
    background: #0000ff;
}
.monitorLegend2-content-kpa-2 {
    background: #2134ff;
}
.monitorLegend2-content-kpa-3 {
    background: #3159ff;
}
.monitorLegend2-content-kpa-4 {
    background: #3979ff;
}
.monitorLegend2-content-kpa-5 {
    background: #399eff;
}
.monitorLegend2-content-kpa-6 {
    background: #31c3ff;
}
.monitorLegend2-content-kpa-7 {
    background: #21e7ff;
}
.monitorLegend2-content-kpa-8 {
    background: #31fff7;
}
.monitorLegend2-content-kpa-9 {
    background: #73ffd6;
}
.monitorLegend2-content-kpa-10 {
    background: #94ffad;
}
.monitorLegend2-content-kpa-11 {
    background: #b5ff8c;
}
.monitorLegend2-content-kpa-12 {
    background: #ceff6b;
}
.monitorLegend2-content-kpa-13 {
    background: #ffff4a;
}
.monitorLegend2-content-kpa-14 {
    background: #ffff18;
}
.monitorLegend2-content-kpa-15 {
    background: #ffeb00;
}
.monitorLegend2-content-kpa-16 {
    background: #ffcb00;
}
.monitorLegend2-content-kpa-17 {
    background: #ffa600;
}
.monitorLegend2-content-kpa-18 {
    background: #ff8a00;
}
.monitorLegend2-content-kpa-19 {
    background: #ff6500;
}
.monitorLegend2-content-kpa-20 {
    background: #ff4100;
}
.monitorLegend2-content-kpa-21 {
    background: #ff0000;
}
/*气压 结束*/

.monitor-menu-detailedBox {
    position: fixed;
    right: 8px;
    top: 160px;
    z-index: 1;
	overflow-y: auto;
	height: 540px;
}
.monitor-menu-detailedBox>div {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}
.monitor-menu-detailedBox>div:last-child {
	margin-bottom: 0;
}
.monitorDetailed1 {
    width: 420px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorDetailed1-title {
    padding: 10px;
    font-size: 15px;
    color: #6693da;
    background: #f2f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-weight: bold;
}
.monitorDetailed1-title i {
    cursor: pointer;
}
.monitorDetailed1-title i:hover {
    color: #1c55ad;
}
.monitorDetailed1-content {
    padding: 10px;
}
.monitorDetailed1-unit, .monitorDetailed1-condition {
    display: flex;
    align-items: center;
    padding: 10px 0 5px 0;
}
.latticeForecastBtn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.monitorDetailed1-right-content {
    display: flex;
    align-items: center;
}
.monitorDetailed1-left-text {
    margin-right: 8px;
}
.monitorDetailed1-condition-table-text {
    color: #1c55ad;
    padding: 4px 0;
}
.monitorDetailed1-Type>div {
    display: flex;
}
.latticeForecastRadio>div {
	flex-flow: wrap row;
	max-height: 150px;
	overflow-y: auto;
}
.latticeForecastRadio>div .ivu-radio-wrapper {
	width: 30%;
}
.monitorDetailed1-Type>div .ivu-radio-wrapper {
    margin: 0 3px 5px 0;
}
.monitorDetailed1-1 {
    width: 590px;
	flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorDetailed2 {
	flex-direction: column;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorDetailed1-inquire-typeTime {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.monitorDetailed1-echarts-box {
    width: 100%;
    height: 274px;
}
.monitorDetailedIcon {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.monitorDetailedIcon i {
	font-size: 25px;
}
.monitor-menu-detailedBox-active {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/*时间轴 开始*/

.timerShaft #dates a:hover,
.timerShaft #dates a.selected {
	color: #1c55ad;
}

.timerShaft h1 {
	font-size: 12px;
	font-weight: normal;
}

.timerShaft h2 {
	font-size: 12px;
}

.timerShaft {
	display: flex;
	align-items: center;
	padding: 0 25px;
	position: fixed;
	width: 922px;
	left: 50%;
	height: 80px;
	bottom: 13px;
	margin-left: -461px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.timerShaft .play {
	display: flex;
	width: 30px;
	height: 30px;
}

.timerShaft .play img {
	width: 30px;
	height: 100%;
	cursor: pointer;
	border-radius: 50%;
}

.timerShaft .play img:hover {
	box-shadow: 0 0 5px #1988e9;
}

.timerShaft #timeline {
	width: 879px;
	height: 80px;
	overflow: hidden;
	position: relative;
	background: url('../img/dot.png') left 35px repeat-x;
	margin-left: 12px;
}

.timerShaft #dates {
	width: 800px;
	height: 40px;
	overflow: hidden;
}

.timerShaft #dates li {
	list-style: none;
	float: left;
	width: 100px;
	height: 40px;
	font-size: 12px;
	text-align: center;
}

.timerShaft #dates a {
	color: #666;
	line-height: 41px;
	padding-bottom: 12px;
	background: url('../img/biggerdot.png') center bottom no-repeat;
}

.timerShaft #dates .selected {
	font-size: 12px;
	background: url(../img/biggerdotActive.png) center bottom no-repeat;
}

.timerShaft #issues {
	width: 800px;
	height: 40px;
	overflow: hidden;
}

.timerShaft #issues li {
	width: 100px;
	height: 40px;
	font-size: 12px;
	text-align: center;
	list-style: none;
	float: left;
}

.timerShaft #issues li h1 {
	color: rgb(73, 80, 96);
	margin: 6px 0 0 0;
}

.timerShaft #issues li.selected h1 {
	color: #1c55ad;
}

.timerShaft .suspend {
	display: none;
}

/*时间轴 结束*/

.monitorDetailed1-warning img {
	float: left;
	margin-right: 10px;
	margin-bottom: 2px;
}
.monitorDetailed1-warning-single p {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}
.monitorDetailed1-warning-single p>span {
	margin-right: 10px;
}
.monitorDetailed1-warning-single p:last-child>span {
	margin-right: 0;
}
.monitorLegend4 {
	position: relative;
	width: 240px;
	max-height: 300px;
	overflow-y: auto;
	padding: 15px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorLegend4 ul {
	padding-right: 10px;
	max-height: 250px;
	overflow-y: auto;
}
.monitorLegend4 ul li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	border-bottom: 1px dashed #999;
	padding-bottom: 8px;
}
.monitorLegend4 ul li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
.monitorLegend4 ul li .monitorLegend4-header {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.monitorLegend4 ul li .monitorLegend4-header span {
	margin: 0 8px 0 0;
	cursor: pointer;
}
.monitorLegend4 ul li .monitorLegend4-header span>i {
	color: rgb(67, 142, 236);
	text-decoration: underline;
}
.monitorLegend4 ul li .monitorLegend4-header>i {
	display: none;
	color: #ff4d5e;
	cursor: pointer;
	transition: .5s;
}
.monitorLegend4 ul li:hover .monitorLegend4-header>i {
	display: block;
}
.monitorLegend4 ul li .monitorLegend4-content {
	width: 100%;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap row;
}
.monitorLegend4 ul li .monitorLegend4-content div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.monitorLegend4 ul li .monitorLegend4-content div span {
	align-self: flex-start;
	width: 74px;
	font-size: 12px;
}
.monitorLegend4 ul li .monitorLegend4-content div img {
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	cursor: default;
	align-self: flex-start;
}
.monitorLegend4 ul li i {
	font-style: normal;
}
.monitorHospitalImg {
    display: flex;
    margin-bottom: 8px;
}
.monitorHospitalData {
    display: flex;
}
.monitorHospitalData ul:nth-child(1) {
    width: 60%;
}
.monitorHospitalData ul:nth-child(2) {
    width: 40%;
}
.monitorHospitalData ul li {
    margin-bottom: 8px;
}
.monitorHospitalData ul li:last-child {
    margin-bottom: 0;
}
.monitorHospitalData-1 ul {
	width: 402px;
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.monitorHospitalData-1 ul:last-child {
	margin-bottom: 0;
}
.monitorHospitalData-1 ul li {
	display: flex;
	width: 200px;
	word-wrap: break-word;
	/*margin-top: 5px;*/
	border-bottom: 1px solid #ccc;
	/*padding: 5px;*/
}
.monitorHospitalData-1 ul li:nth-last-child(-n + 2) {
	border-bottom: none;
}
.monitorHospitalData-1 ul li.tabelLast:last-child {
	border-bottom: none;
}
.monitorHospitalData-1 ul li.tabelLast:nth-last-child(2) {
	border-bottom: 1px solid #ccc;
}
.monitorHospitalData-1 ul li:nth-child(2n -1) {
	border-right: 1px solid #ccc;
}
.monitorHospitalData-1 ul li:nth-child(2n) {
	/*margin-left: 10px;*/
}
.monitorHospitalData-1 ul li span {
	padding: 6px;
}
.monitorHospitalData-1 ul li span:nth-child(1) {
	word-wrap: break-word;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-right: 1px solid #ccc;
}
.monitorHospitalData-1 ul li span:nth-child(2) {
	word-wrap: break-word;
	width: 120px;
	display: flex;
	align-items: center;
	/*margin-left: 10px;*/
}
.monitorHospitalImgLeft {
    width: 298px;
    height: 245px;
    margin-right: 5px;
}
.monitorHospitalImgLeft img {
    width: 100%;
    height: 100%;
}
.monitorHospitalImgRight ul li {
    width: 108px;
    height: 76px;
    margin-bottom: 8.3px;
}
.monitorHospitalImgRight ul li:last-child {
    margin-bottom: 0;
}
.monitorHospitalImgRight ul li img {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}
.monitorHospitalImgRight ul li img.active {
    border-color: #ff4d5e;
}
.monitorHospitalImgRight img:hover {
    border-color: #ff4d5e;
    cursor: pointer;
}
.monitorLegend5 {
	position: relative;
    width: 220px;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorLegend5 i {
    font-style: normal;
}
.monitorLegend5 i:nth-child(1) {
    color: #01cb35;
}
.monitorLegend5 i:nth-child(2) {
    color: #ff4d5e;
}
.monitorLegend5 span:nth-child(1) {
    color: #1afa29;
}
.monitorLegend6 {
	width: 210px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.monitorLegend1-riskColor1 {
    background: #0070ff;
}
.monitorLegend1-riskColor2 {
    background: #55ff00;
}
.monitorLegend1-riskColor3 {
    background: #ffff00;
}
.monitorLegend1-riskColor4 {
    background: #ffaa00;
}
.monitorLegend1-riskColor5 {
    background: #ff4d5e;
}
.monitor-area-statistic-analysis {
    display: flex;
    flex-flow: row wrap;
}
.monitor-area-statistic-analysis span {
    margin-right: 15px;
    margin-bottom: 5px;
}
.monitor-area-statistic-analysis i {
    font-style: normal;
    color: #1c55ad;
}

/*多灾种灾害监测平台 结束*/

/*多渠道预警发布平台 开始*/

.issue {
	position: absolute;
	right: 20px;
	top: 20px;
	/*width: 100%;*/
	/*height: 100%;*/
	/*padding: 20px;*/
}
.issue-menu {
	width: 540px;
}
.issue-menu-badge-alone {
    padding: 0;
    min-width: 16px;
    height: 16px;
    line-height: 15px;
    z-index: 0;
}
.issue-menu>ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, .9);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 4px;
	border-radius: 2px;
	padding: 7px 10px;
}
.issue-menu>ul>li {
	cursor: pointer;
	color: #666;
	font-size: 14px;
}
.issue-menu>ul>li i {
	font-size: 14px;
}
.issue-menu>ul>li.active {
	color: #1c55ad;
}
.issue-menu>div {
	background: rgba(255, 255, 255, .9);
	border-radius: 2px;
    box-shadow: 0px 4px 4px 0px
    rgba(0, 0, 0, 0.2);
}

/*区域发布 开始*/

.issue-area-menu {
	display: flex;
	justify-content: space-between;
}
.issue-area-nav-box {
    position: relative;
    z-index: 1;
}
.issue-area-nav-box .issue-area-menu li {
	position: relative;
	padding: 22px 0;
	width: 90px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
/*.issue-area-nav-box .issue-area-menu li:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*background: #dddddd;*/
/*}*/
.issue-area-nav-box .issue-area-menu li .active {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #1c55ad;
}
.issue-area-nav-box .issue-area-menu li .active .issue-area-menu-active{
	display: block;
}
.issue-area-menu-active {
	display: none;
	position: relative;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-bottom-color: #1c55ad;
	left: 50%;
	margin-left: -2px;
	top: -8px;
}
.issue-area-nav-box>.issue-area-menu>li>div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}
.issue-area-nav-box>.issue-area-menu>li>div:nth-child(2) {
	width: 55px;
	text-align: center;
}
.issue-area-menu-box {
    position: relative;
	padding: 20px;
}
.issue-area-menu-box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px;
     background: #dddddd;
}
.issue-area-menu-shadow {
    box-shadow: none;
}
.issue-area-color-1 {
	color: #ff4d5e;
	font-size: 14px;
	margin-bottom: 16px;
}
.issue-area-color-2 {
	margin-bottom: 14px;
}
.issue-area-color-2>span, .issue-area-color-3>span {
	font-size: 14px;
	color: #666;
}
.issue-area-color-2>span.issue-area-color-title, .issue-area-color-3>span.issue-area-color-title {
	margin-right: 30px;
	color: #999;
}
.issue-area-color-chunk {
	display: inline-block;
	width: 20px;
	height: 10px;
	background-color: #ff4d5e;
}
.issue-area-menu-box-bottom {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 438px;
	height: 496px;
	background: rgba(255, 255, 255, .9);
	padding: 30px 20px;
}
.dashlittle{
	position: relative!important;
}
.issue-area-menu-box-bottom-close {
	position: absolute;
	width: 12px;
	height: 16px;
	top: 9px;
	right: 19px;
	color: #bbb;
	font-size: 16px;
	cursor: pointer;
}
.issue-area-menu-box-bottom .tableData-condition-input-1 {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}
.issue-area-menu-box-bottom .inquire-label-1 {
	font-size: 14px;
	color: #999;
	margin-right: 30px;
}
.issue-area-menu-box-bottom .tableData-condition-input-1:nth-child(4) .inquire-label-1 {
	align-self: flex-start;
	margin-top: 3px;
}
.issue-area-menu-box-bottom .tableData-condition-input-1:nth-child(5) .inquire-label-1 {
	align-self: flex-start;
	margin-top: 3px;
}
.issue-area-menu-box-bottom .tableData-condition-input-1:nth-child(6) .inquire-label-1 {
	align-self: flex-start;
	margin-top: 3px;
}
.issue-area-bottom-right {
	width: 312px;
}
.issue-area-bottom-right .ivu-checkbox-wrapper {
	align-items: center;
}
.issue-area-bottom-right .ivu-checkbox-wrapper:nth-child(n + 4) {
	margin-bottom: 0;
}
.issue-area-bottom-right textarea {
	height: 100px;
	resize: none;
	margin-bottom: 10px;
}
.issue-areaInfluence {
	width: 312px;
	height: 80px;
	border-radius: 4px;
	border: solid 1px #dddddd;
	background: #fff;
	padding: 11px;
	overflow-y: scroll;
}
.issue-areaInfluence .ivu-tag {
	background: rgba(67, 142, 236, .1);
	border-color: rgba(67, 142, 236, .1);
	padding: 0 5px;
}
.issue-areaInfluence .ivu-tag span, .issue-areaInfluence .ivu-tag i {
	color: #1c55ad;
}
.issue-area-elevation {
    display: flex;
    align-items: center;
}
.issue-area-basin {
    display: flex;
    flex-direction: column;
}
.issue-area-basin-header {
    display: flex;
    align-items: center;
}
.issue-area-basin-tab-text {
    margin: 0 10px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.issue-area-basin-tab-text.active {
    color: #1c55ad;
    text-decoration: underline;
}
.issue-basin-tab-1 {
    display: flex;
    align-items: center;
}
.issue-basin-tab-2-list p {
    position: relative;
    font-size: 14px;
    color: #000;
    padding-left: 10px;
    margin: 10px 0;
}
.issue-basin-tab-2-list p:before {
    position: absolute;
    content: '';
    height: 14px;
    border-left: 3px solid #1c55ad;
    left: 0;
    top: 3px;
}
.issue-basin-tab-2-list>div {
    display: flex;
    align-items: center;
}
.issue-area-sceneTime>div {
    display: flex;
    justify-content: space-between;
}
.issue-area-sceneTime>div .ivu-radio-wrapper {
    margin-right: 0;
}
.issue-area-sceneTime-set  {
    display: flex;
    align-items: center;
    margin: 15px 0 10px 0;
}
.issue-area-count-set {
    display: flex;
    align-items: center;
}
.issue-area-scene-btn {
    display: flex;
    justify-content: center;
}
.issue-area-BoxChoose {
    width: auto;
    height: auto;
    position: relative;
    background: transparent;
    box-shadow: none;
    padding: 0 11px;
    top: 0;
    right: 0;
}

/*修改发布渠道 开始*/

.issue-channels-statistics-title {
	color: #666;
	font-size: 16px;
	margin-bottom: 15px;
}
.issue-channels-statistics-num {
	color: #1c55ad;
}
.issue-channels-msg-empty {
	color: #1c55ad;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}

/*修改发布渠道 结束*/

/*区域发布 结束*/

/*定向发布 开始*/

.issue-orienteering-box {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    background: transparent;
    right: 0;
    bottom: 0;
}
.issue-orienteering-crowd-style .ivu-checkbox-wrapper {
    width: 112px;
    margin-bottom: 10px;
}

/*定向发布 结束*/

/*人工发布 开始*/

.issue-artificial-release {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: scroll;
}
.issue-artificial-release>ul {
	margin-top: 50px;
}
.issue-artificial-release>ul>li {
	display: flex;
	margin-bottom: 20px;
}
.issue-fillout-input {
	margin-right: 60px;
	display: flex;
	align-items: center;
}
.issue-edit-label {
	position: relative;
	margin-right: 20px;
	width: 48px;
	display: flex;
	justify-content: flex-end;
}
.issue-warning-img {
	margin-left: 10px;
}
.issue-artificial-release>ul>li:nth-child(2) {
	height: 160px;
}
.issue-artificial-release>ul>li:nth-child(2) .issue-fillout-input {
	align-items: flex-start;
}
.issue-area-box {
	width: 556px;
	height: 160px;
	border-radius: 4px;
	border: solid 1px #eeeeee;
	overflow-y: scroll;
}
.issue-area-btn{
	width: 80px;
	height: 34px;
	background-image: linear-gradient(0deg,
	rgba(1, 126, 236, 0.4) 0%,
	rgba(255, 255, 255, 0.4) 100%),
	linear-gradient(
			#ffffff,
			#ffffff);
	background-blend-mode: overlay,
	normal;
	border-radius: 4px;
	border: solid 1px #1c55ad;
	color: #1c55ad;
	text-align: center;
	line-height: 34px;
	margin-left: 20px;
	cursor: pointer;
	align-self: flex-end;
}
.issue-artificial-release>ul>li:nth-child(4) {
	flex-direction: column;
}
.issue-artificial-release>ul>li:nth-child(4) .issue-fillout-input{
	align-items: flex-start;
}
.issue-monitoring-set {
	margin-top: 20px;
	padding-left: 68px;
}
.issue-control {
	margin-top: 20px;
	padding-left: 68px;
	display: flex;
	color: #1c55ad;
}
.issue-control>div {
	margin-right: 40px;
	cursor: pointer;
}
.issue-control .ivu-upload-list {
	margin-left: -244px;
}
.issue-select-area-btn{
	padding: 0 15px;
	height: 34px;
	background-image: linear-gradient(0deg,
	rgba(1, 126, 236, 0.4) 0%,
	rgba(255, 255, 255, 0.4) 100%),
	linear-gradient(
			#ffffff,
			#ffffff);
	background-blend-mode: overlay,
	normal;
	border-radius: 4px;
	border: solid 1px #1c55ad;
	color: #1c55ad;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
}
.issue-preview-btn {
	width: 230px;
	height: 48px;
	font-size: 18px;
}
.issue-artificial-release>ul>li:last-child {
	display: flex;
	justify-content: center;
	margin: 60px 0 0 0;
}
.issue-statistics-quantity {
	color: #1c55ad;
}
.issue-amend-area-btn {
	color: #1c55ad;
	margin-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}

/*发布渠道 开始*/

.issue-channels-box {
	width: 1280px;
	height: calc(100% - 85px);
	min-height: 510px;
	border-radius: 10px;
	background: #fff;
}
.issue-channels-box-header {
	width: 100%;
	height: 50px;
	background-color: #f8f8f8;
	box-shadow: 0px 1px 0px 0px
	#eeeeee;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.issue-channels-box-header-title {
	color: #666;
	font-size: 18px;
}
.issue-channels-box-header-close {
	color: rgba(153, 153, 153, .5);
	font-size: 18px;
	cursor: pointer;
}
.issue-channels-box-content {
	width: 100%;
	height: calc(100% - 50px);
	padding: 20px;
	overflow-y: scroll;
}
.issue-channels-box-footer {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	/*padding-bottom: 30px;*/
}
.issue-channel-btn {
	width: 70px;
	font-size: 12px;
	margin: 0 15px;
}
.issue-channels-classify {
	width: 100%;
	height: 621px;
	/*height: calc(100% - 91px);*/
	/*min-height: 314px;*/
	border: solid 1px #dddee1;
}
.issue-channels-statistics-text {
	margin-top: 20px;
	font-size: 16px;
	color: #333;
}
.issue-channels-statistics {
	color: #1c55ad;
	font-style: normal;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
	padding: 5px 14px 4px;
	/*padding: 5px 34.6px 4px;*/
	margin-right: 0;
	border-radius: 0;
	border-top: none;
}
.ivu-tabs-nav .ivu-tabs-tab .ivu-icon {
	margin-right: 0;
	margin-left: 25px;
}
.ivu-tabs-nav .ivu-tabs-tab:last-child {
	margin-right: 0;
}
.ivu-tabs-tab .ivu-icon{
	transition: .2s;
}
.ivu-tabs-tab-active.ivu-tabs-tab-focused .ivu-icon {
	transform: rotate(180deg);
}
.issue-channels-classify .ivu-tabs .ivu-tabs-tabpane {
	padding: 0 20px 20px 20px;
}
.issue-channels-note {
	margin-bottom: 20px;
}
.issue-note-remark {
	position: absolute;
	color: #ff6600;
	right: 30px;
	top: 5px;
}
.noteCheckboxList {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	padding: 0 30px;
}
.noteCheckboxList>div {
	display: flex;
	align-items: center;
	margin-right: 75px;
}
.noteCheckboxList>div:nth-child(4n) {
	margin-right: 0;
}
.noteCheckboxList>div {
	width: 220px;
	margin-bottom: 20px;
}
.noteCheckboxList>div>label.ivu-checkbox-wrapper {
	margin-right: 0;
}
.issue-channels-classify>.ivu-tabs {
	height: 100%;
}
.issue-channels-classify .ivu-tabs .ivu-tabs-content-animated {
	height: 100%;
}
.issue-channels-classify .ivu-tabs .ivu-tabs-content-animated .ivu-tabs-tabpane {
	position: relative;
	height: 100%;
}
.issue-channels-note-box {
	width: 100%;
	height: calc(100% - 68px);
	overflow-y: scroll;
}
.noteCheckboxList>div>i {
	cursor: pointer;
}
.issue-organizationChart-left {
	width: 260px;
	height: 100%;
	overflow-y: scroll;
	float: left;
}
.issue-organizationChart-right {
	width: calc(100% - 272px);
	height: calc(100% - 12px);
	overflow-y: scroll;
	float: right;
	margin: 6px 6px 0 0;
	padding: 20px;
	background: #f8f8f8;
	border-radius: 6px;
	overflow-y: scroll;
}
.issue-organizationChart-right label {
	margin: 0 135px 20px 0;
}
.issue-warning-box {
	height: calc(100% - 28px);
	overflow-y: scroll;
}
.issue-warning-list {
	padding: 0 30px;
}
.issue-warning-list>div {
	padding: 20px 0 0 0;
	border-bottom: 1px solid #eee;
	display: flex;
}
.issue-warning-list>div:last-child {
	border-bottom: none;
}
.issue-warning-list-left {
	width: 300px;
}
.issue-warning-list-right {
	display: flex;
	flex-flow: wrap row;
}
.issue-warning-list-right>div {
	margin: 0 50px 20px 0;
}
.issue-trumpet-box {
	height: calc(100% - 104px);
}

/*发布渠道 结束*/

/*预览及发布 开始*/

.issue-trumpet, .issue-ledTab, .issue-terminalTtab, .issue-mail, .issue-phoneTab {
	width: 100%;
	height: calc(100% - 28px);
	display: flex;
	overflow-y: scroll;
}
.issue-trumpet-left {
	display: flex;
	justify-content: flex-end;
	width: 347px;
	height: 100%;
	margin-right: 156px;
}
.issue-trumpet-left img {
	margin-top: 106px;
}
.issue-trumpet-right {
	width: calc(100% - 503px);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.issue-trumpet-right>div {
	width: 465px;
	margin-bottom: 30px;
	font-size: 16px;
	max-height: 240px;
	overflow-y: scroll;
}
.issue-trumpet-title {
	font-size: 16px;
	color: #000;
	font-weight: 600;
	margin-bottom: 15px;
}
.issue-trumpet-play-btn {
	width: 128px;
	height: 48px;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.issue-trumpet-play-btn>i {
	font-size: 34px;
}
.issue-trumpet-play-btn>span {
	margin-left: 10px !important;
	margin-top: 2px;
}
.issue-ledTab, .issue-terminalTtab {
	align-items: center;
	justify-content: center;
}
.issue-ledTab-content {
	width: 658px;
	height: 370px;
	overflow-y: scroll;
	background: url("../img/ledBg.png") no-repeat;
	background-size: cover;
	padding: 30px;
	color: #fff;
	font-size: 26px;
}
.issue-terminal-box {
	width: 530px;
	height: 428px;
	background: url("../img/terminal.png") no-repeat;
	background-size: cover;
}
.issue-terminal-content {
	background: #fff;
	width: 492px;
	height: 280px;
	overflow-y: scroll;
	margin: 19px 0 0 19px;
	padding: 20px 50px;
}
.issue-terminal-content-title {
	text-align: center;
	color: #ff1111;
	font-size: 20px;
	margin-bottom: 22px;
}
.issue-terminal-content-subtitle {
	display: block;
	height: 26px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ff1111;
	font-size: 14px;
	margin-bottom: 22px;
}
.issue-terminal-content-subtitle-left {
	float: left;
}
.issue-terminal-content-subtitle-right {
	float: right;
}
.issue-terminal-content-type-text {
	font-size: 16px;
	text-align: center;
	color: #333;
	margin-bottom: 10px;
}
.issue-terminal-content-type-img {
	text-align: center;
	margin-bottom: 10px;
}
.issue-terminal-content-text {
	font-size: 16px;
	color: #333;
}
.issue-mail {
	justify-content: center;
	align-items: center;
}
.issue-phoneTab {
	align-items: center;
}
.issue-phoneTab-phone {
	width: 200px;
	height: 411px;
	margin-left: 317px;
	margin-right: 70px;
	background: url("../img/phone.png") no-repeat;
	background-size: cover;
}
.issue-phoneTab-phone-1 {
	width: 200px;
	height: 411px;
	margin-left: 317px;
	margin-right: 70px;
	background: url("../img/phone1.png") no-repeat;
	background-size: cover;
}
.issue-phoneTab-arrows {
	width: 62px;
	height: 40px;
	background: url("../img/arrows.png") no-repeat;
	background-size: cover;
	margin-right: 60px;
}
.issue-phoneTab-content {
	position: relative;
	width: 350px;
	/*height: 184px;*/
	background-color: #e5e5ea;
	border-radius: 16px;
	font-size: 18px;
	padding: 16px 24px;
	color: #000;
}
.issue-phoneTab-phoneBox {
	width: 349px;
	height: 478px;
	margin: -32px 0 0 -74px;
	overflow-y: scroll;
	background: #fff;
	transform: scale(.5);
}
.issue-phoneTab-phoneBox-1 {
	width: 355px;
	height: 632px;
	margin: -108px 0 0 -77px;
	overflow-y: scroll;
	background: #fff;
	transform: scale(.5);
}
.issue-phoneTab-phoneBox-1 img {
	width: 100%;
	height: 100%;
}
.issue-phoneTab-phoneBox-header {
	color: #a6a6aa;
	margin: 20px 0 20px 0;
}
.issue-phoneTab-phoneBox-header p {
	text-align: center;
}
.issue-phoneTab-phoneBox-content {
	position: relative;
	width: 240px;
	color: #000;
	margin-left: 26px;
	background: #e5e5ea;
	padding: 16px 20px;
	border-radius: 16px;
}
.issue-phoneTab-content img, .issue-phoneTab-phoneBox-content img {
	position: absolute;
	left: -6px;
	bottom: 0;
}

/*预览及发布 结束*/

/*人工发布 结束*/

/*发布计划单 开始*/

.issue-planned-order {
    padding: 0 20px;
    max-height: 290px;
    overflow-y: auto;
}
.issue-planned-order>li {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}
.issue-planned-order>li:before {
    content: '';
    position: absolute;
    height: 14px;
    border-left: 3px solid #1c55ad;
    left: -8px;
    top: 23px;
}
.issue-planned-order>li:last-child {
    border-bottom: none;
}
.issue-planned-order>li>p {
    display: flex;
    margin-bottom: 10px;
}
.issue-planned-order>li>p>span {
    width: 50%;
    color: #999;
}
.issue-planned-order>li>p>span>i {
    color: #666;
    font-style: normal;
    margin-left: 23px;
}

/*发布计划单 结束*/

/*多渠道预警发布平台 结束*/

/*多专业协同研判平台 开始*/

.research-menu-basics {
    width: 456px;
    top: 40px;
    left: 0;
    max-height: 516px;
    overflow-y: scroll;
	padding-left: 20px;
}
.research-menu-left-forecastData {
    display: flex;
    align-items: center;
    margin: 10px 0 40px 0;
}
.research-menu-left-forecastData>span {
    margin-right: 24px;
    font-size: 16px;
}
.research-menu-left-forecastData .ivu-checkbox-wrapper {
    margin-right: 34px;
}
.research-monitor-scene {
    margin-bottom: 40px;
}
.research-monitor-scene>div {
    margin: 15px 0;
}
.research-serve-product {
    margin-bottom: 40px;
}
.research-serve-product li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.research-serve-product li>div:nth-child(1) {
    width: 69px;
    margin-right: 28px;
    margin-top: 2px;
    text-align: right;
    align-self: flex-start;
	font-size: 16px;
	color: #666;
}
.research-serve-product li>div:nth-child(2) {
    width: calc(100% - 69px);
}
.research-serve-product .ivu-checkbox-wrapper {
    margin: 0 26px 5px 0
}
.research-menu-hazardAffected {
    width: 430px;
    top: 40px;
    left: 76px;
    max-height: 516px;
    overflow-y: scroll;
}
.research-menu-hazardAffected .monitor-menu-list-title {
    font-size: 14px;
    color: #666;
    width: 332px;
}
.researchAnalyticalModel {
    font-size: 14px;
    color: #666;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.researchAnalyticalModel span {
    position: relative;
}
.researchAnalyticalModel span:hover {
    color: #1c55ad;
    text-decoration: underline;
    cursor: pointer;
}
.researchAnalyticalModel span img {
    position: absolute;
    right: -7px;
    top: -7px;
}
.research-menu-analysisModel {
    width: 280px;
    top: 40px;
    left: 384px;
}
.research-area-basin .inquire-label, .research-area-basin .issue-area-basin-tab-text{
    font-size: 12px;
}
.research-area-sceneTime>div {
    justify-content: flex-start;
    flex-flow: row wrap;
}
.research-area-sceneTime .ivu-radio-wrapper {
    margin: 0 11px 6px 0px;
    width: 55px;
}
.research-area-sceneTime-set {
    display: block;
    margin: 8px 0 10px 0;
}
.research-area-sceneTime-set>div {
    display: flex;
    align-items: center;
}
.researchRiskAnalysis {
    position: fixed;
    padding: 20px;
    width: 372px;
    right: 20px;
    bottom: 20px;
    background: rgba(255, 255, 255, .9);
    border-radius: 2px;
}
.researchRiskAnalysis-title {
    margin-bottom: 16px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.researchRiskAnalysis-tag {
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 5px;
    max-height: 108px;
    overflow-y: scroll;
}
.researchRiskAnalysis-tag>div {
    margin: 0 6px 12px 0;
}
.researchRiskAnalysis-tag .ivu-tag-border {
    border: 1px solid #ddd !important;
    background: transparent !important;
}
.researchRiskAnalysis-tag .ivu-tag-border.ivu-tag-closable:after {
    display: none;
}
.researchRiskAnalysis-tag .ivu-tag-border.ivu-tag-closable .ivu-icon-ios-close-empty {
    margin-left: 5px !important;
    color: #bbb !important;
}
.researchRiskAnalysis-legend {
    display: flex;
    margin-bottom: 24px;
}
.researchRiskAnalysis-legend span {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.researchRiskAnalysis-legend span:last-child {
    margin-right: 0;
}
.researchRiskAnalysis-legend span i {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: 14px;
    cursor: pointer;
}
.researchRiskAnalysis-tool {
    display: flex;
}
.researchRiskAnalysis-tool i {
    cursor: pointer;
    width: 26px;
    height: 28px;
    margin-right: 25px;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-square {
     background: url("../img/juxBig.png") no-repeat;
 }
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-circle {
    background: url("../img/yuanxBig.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-triangle {
    background: url("../img/sanjxBig.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-polygon {
    background: url("../img/duobxBig.png") no-repeat;
}
.researchRiskAnalysis-tool i:hover.researchRiskAnalysis-tool-square {
    background: url("../img/juxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i:hover.researchRiskAnalysis-tool-circle {
    background: url("../img/yuanxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i:hover.researchRiskAnalysis-tool-triangle {
    background: url("../img/sanjxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i:hover.researchRiskAnalysis-tool-polygon {
    background: url("../img/duobxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-square.active {
    background: url("../img/juxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-circle.active {
    background: url("../img/yuanxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-triangle.active {
    background: url("../img/sanjxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-tool i.researchRiskAnalysis-tool-polygon.active {
    background: url("../img/duobxBig_xuanz.png") no-repeat;
}
.researchRiskAnalysis-list {
    margin-bottom: 10px;
}
.researchRiskAnalysis-list .tableData-condition-input-1 {
    display: flex;
    align-items: center;
}
.researchRiskAnalysis-list textarea {
    resize: none;
    height: 92px;
}
.researchExpertMessage {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.researchExpertMessage-header {
    display: flex;
}
.researchExpertMessage-table .ivu-table-cell {
    padding: 0;
}
.researchExpertMessage-content {
    margin: 10px 0 20px 0;
}
.researchExpertMessage-footer {
    display: flex;
    justify-content: center;
}
.researchDiscussion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 12px;
    border-bottom: 1px solid #dddddd;
}
.researchDiscussion-1-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}
.researchDiscussion-1-list>div {
    margin-bottom: 12px;
}
.researchDiscussion-1-title {
    color: #999999;
    margin-right: 15px;
}
.researchDiscussion-2 {
    padding: 20px 12px;
    border-bottom: 1px solid #dddddd;
}
.researchDiscussion-2 ul {
    display: flex;
}
.researchDiscussion-2 ul li {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.researchDiscussion-2 ul li:hover span:nth-child(2) {
    color: #1c55ad;
}
.researchDiscussion-2 ul li span:nth-child(1) {
    width: 24px;
    height: 28px;
    margin-bottom: 12px;
}
.research-yanpan-icon1 {
    background: url("../img/yanpan_icon1.png") no-repeat center;
}
.research-yanpan-icon2 {
    background: url("../img/yanpan_icon2.png") no-repeat center;
}
.research-yanpan-icon3 {
    background: url("../img/yanpan_icon3.png") no-repeat center;
}
.research-yanpan-icon4 {
    background: url("../img/yanpan_icon4.png") no-repeat center;
}
.researchDiscussion-3 {
    padding: 20px 30px;
    color: #ff4d5e;
}
.researchList ul {
    display: flex;
    justify-content: space-between;
}
.researchList-title {
    display: flex;
    justify-content: space-between;
}
.researchList-title-left {
    color: #999999;
}
.researchList-title-right {
    color: #1c55ad;
    text-decoration: underline;
    cursor: pointer;
}
.researchList-box {
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 11px;
    height: 182px;
    overflow-y: scroll;
    margin-top: 11px;
}
.researchList-box>div {
    margin: 0 0 10px 0;
    display: block;
}
.researchList-box>div:last-child {
    margin: 0;
}
.researchList-box .researchList-box-i-legend {
    display: flex;
    align-items: center;
}
.researchList-box-i {
    width: 58px;
    height: 10px;
    margin-right: 8px;
    cursor: pointer;
}
.researchList-box-blue {
    background: #1c55ad;
}
.researchList-box-yellow {
    background: #f4df4f;
}
.researchList-box-orange {
    background: #f87d2c;
}
.researchList-box-red {
    background: #f23d3d;
}
.researchList-box .ivu-tag {
    position: relative;
    width: 90px;
    padding: 0 0 0 8px;
    background: rgba(67, 142, 236, .1)
}
.researchList-box .ivu-tag i {
    position: absolute;
    right: 10px;
    top: 4px;
    color: #1c55ad !important;
}
.researchList-box span {
    color: #1c55ad !important;
}

/*多专业协同研判平台 结束*/

/*全业务监控 开始*/

.businessMonitors-left {
    position: absolute;
    left: 20px;
    top: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.businessMonitors-right {
    position: absolute;
    z-index: 0;
    right: 20px;
    top: 20px;
}
.businessMonitors-right-bottom {
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.businessMonitors-left-bottom {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.businessMonitors-left-menu {
    width: 140px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.businessMonitors-left-menu>ul {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
}
.businessMonitors-left-menu>ul>li {
    padding: 0 15px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.businessMonitors-left-menu>ul>li.active {
    width: 141px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.businessMonitors-left-menu>ul>li:hover>div {
    color: #1c55ad;
}
.businessMonitors-left-menu>ul>li.active>div {
    color: #1c55ad;
}
.businessMonitors-left-menu>ul>li>div {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.businessMonitors-left-menu>ul>li>div>i {
    margin-right: 12px;
}
.businessMonitors-left-menu>ul>li:last-child>div {
    border-bottom: none;
}
.businessMonitors-menu-thresholdAlarm {
    width: 322px;
    height: 500px;
    top: 0px;
    left: 140px;
    box-shadow: none;
    border-left: 1px solid #ddd;
    padding: 16px 20px;
    overflow-y: scroll;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.businessMonitors-menu-thresholdAlarm>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}
.businessMonitors-menu-thresholdAlarm>div:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.businessMonitors-menu-thresholdAlarm>div:last-child button {
    margin: 12px 0 -4px 0;
}
.businessMonitors-menu-thresholdAlarm>div>ul>li {
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: flex;
}
.businessMonitors-menu-thresholdAlarm>div>ul>li:first-child:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    display: block;
    width: 3px;
    height: 14px;
    background: #1c55ad;
    border-radius: 1.5px;
}
.businessMonitors-menu-thresholdAlarm>div>ul>li .businessMonitors-menu-left-title {
    color: #999;
    margin-right: 23px;
}
.businessMonitors-menu-thresholdAlarm>div>ul>li>i {
    font-style: normal;
    border: 1px solid;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px 7px;
    margin-left: 10px;
}
.pending {
    color: #ff9b0b;
    border-color: #ff9b0b;
}
.processed {
    color: #18c466;
    border-color: #18c466;
}
.threshold-alarm-details {
    width: 388px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
}
.threshold-alarm-details-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    text-align: center;
}
.threshold-alarm-details-header span {
    font-size: 14px;
    color: #666;
}
.threshold-alarm-details-content {
    padding-top: 22px;
}
.threshold-alarm-details-content-title {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.threshold-alarm-details-content {
    margin-bottom: 10px;
}
.threshold-alarm-details-content-list {
    margin-bottom: 8px;
}
.threshold-alarm-details-content-list span {
    font-size: 14px;
}
.threshold-alarm-details-content-list span:nth-child(1) {
    color: #999;
}
.threshold-alarm-details-content-list span:nth-child(2) {
    color: #666;
}
.threshold-alarm-details-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.businessMonitors-left-bottom-title {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
}
.businessMonitors-left-bottom-content {
    padding: 20px 0;
}
.businessMonitors-left-bottom-content ul {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
}
.businessMonitors-left-bottom-content ul li {
    width: 110px;
    margin: 0 40px 16px 0;
    display: flex;
    align-items: center;
}
.businessMonitors-left-bottom-content ul li:nth-last-child(-n + 2) {
    margin-bottom: 0;
}
.businessMonitors-left-bottom-content ul li img {
    margin-right: 10px;
}
.businessMonitors-right-dynamic {
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.businessMonitors-right-dynamic-header {
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #ddd;
}
.businessMonitors-right-dynamic-content {
    position: relative;
}
.businessMonitors-right-dynamic-content>ul {
    display: flex;
    flex-flow: wrap row;
}
.businessMonitors-right-dynamic-content>ul>li {
    position: relative;
    width: 50%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.businessMonitors-right-dynamic-content>ul>li:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0px;
    right: -0.5px;
    border-right: 1px solid #ddd;
    width: 0px;
    height: 35px;
}
.businessMonitors-right-dynamic-content>ul>li:nth-child(2):before {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -0.5px;
    border-bottom: 1px solid #ddd;
    width: 100px;
    height: 0px;
}
.businessMonitors-right-dynamic-content>ul>li:nth-child(3):before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: 0px;
    border-top: 1px solid #ddd;
    width: 100px;
    height: 0px;
}
.businessMonitors-right-dynamic-content>ul>li:nth-child(4):before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -0.5px;
    border-left: 1px solid #ddd;
    width: 0px;
    height: 35px;
}
.businessMonitors-right-dynamic-content>ul>li>span:nth-child(1) {
    font-size: 20px;
    color: #333;
}
.businessMonitors-right-dynamic-content>ul>li>span:nth-child(2) {
    font-size: 12px;
    color: #666;
}
.businessMonitors-right-release-people {
    position: absolute;
    width: 102px;
    height: 102px;
    left: 50%;
    top: 50%;
    margin-top: -51px;
    margin-left: -51px;
    border-radius: 50%;
}
.businessMonitors-right-release-people1 {
    width: 76px;
    height: 76px;
    margin-top: 13px;
    margin-left: 13px;
    border-radius: 50%;
    background-image: linear-gradient(-25deg,
    rgba(47, 139, 255, 0.96) 0%,
    rgba(108, 173, 255, 0.96) 100%);
    border: 6px solid  rgba(182, 215, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.businessMonitors-right-release-num {
    height: 30px;
    overflow: hidden;
}
.businessMonitors-right-release-num ul li {
    height: 30px;
    font-size: 20px;
    color: #333;
    text-align: center;
}
.businessMonitors-right-release-people1>div>ul>li {
    font-size: 20px;
    color: #fff;
    text-align: center;
 }
.businessMonitors-right-release-people1 span:nth-child(2) {
    font-size: 12px;
}
.businessMonitors-right-dynamic-top {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
}
.businessMonitors-right-dynamic-bottom {
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: scroll;
}
.businessMonitors-right-dynamic-bottom span {
    margin-right: 6px;
}
.businessMonitors-right-dynamic-bottom span:last-child {
    margin-right: 0;
}
.businessMonitors-right-dynamic-bottom ul {
    display: flex;
    flex-flow: wrap row;
}
.businessMonitors-right-dynamic-bottom ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.businessMonitors-right-dynamic-bottom ul li span:hover {
    color: #1c55ad;
    cursor: pointer;
    text-decoration: underline;
}
.businessMonitors-right-dynamic-bottom ul li:nth-last-child(-n +2) {
    margin-bottom: 0;
}
.businessMonitors-right-dynamic-bottom ul li img {
    margin-right: 12px;
}
.threshold-content-list-type {
    color: #1c55ad !important;
    font-style: normal;
}
.threshold-content-list-text, .threshold-content-list-time {
    color: #666666 !important;
}
.threshold-content-list-text {
    width: 260px;
    margin-right: 25px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.threshold-alarm-details-content-list {
    display: flex;
}
.threshold-alarm-details-content-msg {
    margin-bottom: 0;
    max-height: 196px;
    overflow-y: scroll;
}

/*全业务监控 结束*/

/*多部门联动响应平台 开始*/

.responseLegend {
    width: 200px;
    text-align: left;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.responseLegend ul li span:nth-child(2) {
    color: #666;
    margin-left: 8px;
}
.responseLegend ul li span:nth-child(2) i {
    color: #1c55ad;
    font-style: normal;
}
.response-indicators-menu {
    position: relative;
    justify-content: flex-start;
}
/*.response-indicators-menu:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*background: #dddddd;*/
/*}*/
.issue-area-nav-box>.response-indicators-menu>li>div:nth-child(1) {
    width: 80px;
}
.issue-area-nav-box>.response-indicators-menu>li>div:nth-child(2) {
    width: 80px;
}
.responseIndicator {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #1c55ad;
}
.responseIndicator>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.responseIndicator>div span {
	font-size: 14px;
	color: #1c55ad;
}
.responseIndicator .responseOutbound {
	color: #fff;
	background: #1c55ad;
	padding: 5px 10px;
	cursor: pointer;
}
.responseIndicator .responseTime {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
}
.responseIndicator .responseTime li {
	width: 225px;
	height: 30px;
	border: 1px solid #cecece;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
.responseIndicator .responseTime li span:nth-child(1) {
	width: 150px;
	text-align: center;
	line-height: 30px;
	border-right: 1px solid #cecece;
 }
.responseIndicator .responseTime li span:nth-child(2) {
	width: 74px;
	text-align: center;
	line-height: 30px;
	color: #1c55ad;
}
.responseResponsibility {
	padding: 15px 10px;
	max-height: 500px;
	overflow-y: auto;
}
.responseResponsibility ul li {
	margin-bottom: 10px;
	border: 2px dashed #cecece;
	padding: 10px;
}
.responseResponsibility ul li:last-child {
	margin-bottom: 0;
}
.responseResponsibility .takeEffect {
	border: 2px dashed #1c55ad;
}
.dutyHeader {
	display: flex;
	align-items: center;
	border-bottom: 1px dashed #cecece;
	padding-bottom: 8px;
}
.dutyHeader .title {
	flex: 1;
}
.dutyHeader .title span {
	padding: 4px 6px;
	font-size: 16px;
	color: #333;
}
.takeEffect .dutyHeader .title span {
	color: #1c55ad;
}
.dutyHeader .effectText {
	padding: 4px;
	font-size: 14px;
	color: #fff;
	background: #1c55ad;
	margin-right: 5px;
}
.dutyContent {
	position: relative;
	margin-top: 15px;
	overflow: hidden;
}
.dutyContent p:nth-child(1) {
	text-indent: 16px;
	font-size: 14px;
	color: #666;
 }
.dutyContent span:nth-child(2) {
	color: #666;
	text-decoration: underline;
	float: right;
}
.takeEffect .dutyContent span:nth-child(2) {
	color: #1c55ad;
}
.responseFeedback {
	padding: 15px 10px;
}
.emergencyDisposal {
	background: rgba(255, 255, 255, .9);
	border-radius: 2px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 458px;
	height: 496px;
	padding: 30px 20px;
}
.emergencyDisposal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 18px;
}
.emergencyDisposal-title {
	font-size: 20px;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}
.emergencyDisposal-header {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	padding-bottom: 5px;
	border-bottom: 3px solid #FF0000;
}
.emergencyDisposal-content {
	margin-top: 25px;
	padding-bottom: 15px;
	border-bottom: 3px solid #FF0000;
}
.emergencyDisposal-content>p {
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
}
.ivu-input-wrapper textarea {
	resize: none;
}
.reportForm {
	display: flex;
	margin-top: 15px;
}
.reportForm span {
	width: 100px;
	line-height: 32px;
	color: #333;
	font-size: 16px;
}
.responseTo {
	padding: 25px 15px;
}
.responseTo-btn {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

/*多部门联动响应平台 结束*/

/*多类别灾情收集平台 开始*/

.reported-gather, .reported-analyze, .reported-report {
	padding: 16px 12px;
}
.reported-report-type {
	max-height: 386px;
	overflow-y: auto;
}
.reported-report-type-title {
	font-size: 14px;
	color: #333;
}
.reported-report-type-content {
	border: 1px solid #cecece;
	padding: 15px;
	margin-bottom: 30px;
}
.reported-report-type-all {
	margin-bottom: 15px;
	color: #333;
	font-weight: bold;
}
.reported-report-type-check .ivu-checkbox-wrapper {
	margin: 0 20px 15px 0;
	color: #666;
}
.reportedResultBox, .generatingSetBox {
	padding: 15px;
	border: 1px dashed #cecece;
	border-radius: 4px;
}
.reportedResultBox ul {
	width: 400px;
	max-height: 90px;
	overflow-y: auto;
}
.reportedResultTitle {
	font-size: 14px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #333;
}
.reportedResultList {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.reportedResultList:last-child {
	margin-bottom: 0;
}
.reportedResultText {
	font-size: 14px;
	color: #666;
}
.reportedResultText:hover {
	color: #1c55ad;
	cursor: pointer;
}
.generatingSetBox>div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.generatingSetBox>div:last-child {
	margin-bottom: 0;
}
.generatingSetTitle {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin-right: 10px;
}
.reported-disaster-box {
	position: absolute;
	right: 500px;
	top: 60px;
	width: 400px;
	height: 600px;
	background: rgba(255, 255, 255, .9);
	border-radius: 2px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.reported-disaster-content {
	width: 100%;
	height: 580px;
	padding: 10px;
	margin-top: 20px;
}

/*多类别灾情收集平台 结束*/

.ivu-select-dropdown {
	z-index: 901;
}

/*灾情分析 开始*/

.detailsBox-reported-record-title {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin: 15px 0;
	padding-bottom: 8px;
	border-bottom: 2px solid #e6f2ff;
}

.detailsBox-reported-record-content {
	display: flex;
	height: 40px;
	line-height: 40px;
}

.detailsBox-reported-record-content1 .detailsBox-content-left {
	width: 100%;
	margin-top: 10px;
}

.detailsBox-reported-record-content1 .detailsBox-content-left span:nth-child(2) {
	width: calc(100% - 134px);
	line-height: 24px;
}

.detailsBox-content-left, .detailsBox-content-right {
	display: flex;
	width: 50%;
	font-size: 14px;
	color: #999;
}

.detailsBox-content-left span:nth-child(1), .detailsBox-content-right span:nth-child(1) {
	width: 134px;
	font-weight: bold;
	color: #666;
	text-align: right;
}

/*灾情分析 结束*/
