/* Chrome/73.0.3683.86 */
body{
	/* user agent stylesheet 8px */
    margin: 0px;
}
ul{
	/* user agent stylesheet 1em */
    margin-block-start: 0em;
	/* user agent stylesheet 1em */
    margin-block-end: 0em;
	/* user agent stylesheet 40px */
    padding-inline-start: 0px;
}
